<table class="table table-striped">
  <thead>
    <tr>
      <th>id</th>
      <th>Theme</th>
      <th>Start at</th>
      <th>End at</th>
      <th>Notice</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @core_times.each do |core_time| %>
      <tr>
        <td><%= core_time.id %></td>
        <td><%= core_time.theme.title %></td>
        <td><%= core_time.start_at %></td>
        <td><%= core_time.end_at %></td>
        <td><%= core_time.notice %></td>
        <td><%= link_to '変更する', edit_core_time_path(core_time) %></td>
        <td><%= link_to '消去する', core_time, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'コアタイム追加', new_core_time_path ,class: "btn btn-default" %>
