<div class="thread">
  <div id="entry-<%= child.id %>" class="child">
    <%= render 'themes/user_icon', entry: child %>

    <% if child.np >= 50 %>
      <span class="label label-success">賛成</span>
    <% else %>
      <span class="label label-warning">反対</span>
    <% end %>

    <span class="glyphicon glyphicon-chevron-right small"></span>
    <%= child.created_at %>
    <%= child.body %>
    by <%= child.facilitation ? "ファシリテータ" : child.user.name  %>

    <% if user_signed_in? %>
      <a rel="leanModal" href="#reply-modal-<%= child.id %>">
        <button class="btn btn-default btn-xs">返信する</button>
      </a>
      <%= render 'themes/like_button', entry: child %>
    <% end %>

    <%= render 'themes/information', entry: child %>

    <% if child.image? %>
      <%= image_tag child.image.entry_thumb.url %>
    <% end %>

    <div class="replies"></div>

    <% if user_signed_in? %>
      <div class="modal-window" id="reply-modal-<%= child.id %>">
        <div class="modal_close"></div>
        <div class="reply-modal-parent">
          <%= render 'themes/user_icon', entry: child %>

          <% if child.grandchild? %>
            <span class="glyphicon glyphicon-chevron-right small"></span>
          <% end %>

          <%= child.created_at %>
          <%= child.body %>
          by <%= child.facilitation ? "ファシリテータ" : child.user.name  %>

          <span class="glyphicon glyphicon-star-empty"></span><span class="like_count"><%= child.like_count %></span>
          <span class="glyphicon glyphicon-usd"></span><span class="point"><%= child.point %></span>
          <% if child.image? %>
            <%= image_tag child.image.entry_thumb.url %>
          <% end %>
        </div>

        <hr />

        <div>
          <%= form_for @entry_new, :html => {:class => 'reply-form'}, remote: true do |f| %>
            <div class="form-group">
              <%= f.text_field :body , class: 'form-control', placeholder: 'コメントします' %>
            </div>
            <div class="form-group">
              <%= f.file_field :image %>
            </div>

            <%= f.hidden_field :user_id, { :value => current_user.id } %>
            <%= f.hidden_field :parent_id, { :value => child.id } %>
            <%= f.hidden_field :theme_id, { :value => @theme.id } %>
            <%= f.hidden_field :facilitation, { :value => false } %>
            <%= f.submit '投稿', class: 'btn btn-default' %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
