<div class="child-content">
  <div id="entry-<%= child.id %>" class="child post-content" data-id="<%= child.id %>">
    <div class="child-points">
      <p class="points"><%= child.point %></p>
      <p class="points-text">points</p>
    </div>

    <%= render 'themes/user_icon', entry: child %>
    <%= child.body %>

    <div class="info-list">
      <% if child.np >= 50 %>
        <span class="label label-success">賛成</span>
      <% else %>
        <span class="label label-warning">反対</span>
      <% end %>
      <span class="user-name">
        <%= child.facilitation ? "ファシリテータ" : child.user.name  %>
      </span>
      <span class="timestamp"> [<%= child.created_at %>]</span>
      <%= render 'themes/information', entry: child %>

      <% if user_signed_in? %>
        <a rel="leanModal" href="#reply-modal-<%= child.id %>">
          <span class="glyphicon glyphicon-share-alt set-popover" data-toggle="popover" data-placement="right" data-content="返信する"></span>
        </a>
        <%= render 'themes/like_button', entry: child %>
      <% end %>
    </div>

    <% if child.image? %>
      <%= link_to (image_tag child.image.entry_thumb.url, class: 'img-radius'), child.image_url %>
    <% end %>

    <div class="replies"></div>

    <% if user_signed_in? %>
      <%= render 'modal_form', child: child %>
    <% end %>

    <% child.thread_childrens.each do |c| %>
      <%= render 'child_entry', child: c %>
    <% end %>
  </div>
</div>
