<% if entry.facilitation? %>
  <%= image_tag 'faci_icon.png' , class: 'user-icon img-circle' %>
  ファシリテーター@<%= entry.created_at %>
<% else %>
  <%= image_tag user_icon_path(entry.user), class: 'user-icon img-circle' %>
  <%= entry.user.name %>@<%= entry.created_at %>
<% end %>

<p class="lead"><%= entry.title %></p>
<p><%= entry.body %></p>

<% entry.issues.each do |issue| %>
  <span class="label label-default"><%= issue.name %></span>
<% end %>

<span class="glyphicon glyphicon-thumbs-up"></span> <%= entry.thread_positive_count %> / <span class="glyphicon glyphicon-thumbs-down"></span> <%= entry.thread_negative_count %>
<% if entry.image? %>
  <%= image_tag entry.image.entry_thumb.url %>
<% end %>

<span class="glyphicon glyphicon-star-empty"></span><span class="like_count"><%= entry.like_count %></span>
<span class="glyphicon glyphicon-usd"></span><span class="point"><%= entry.point %></span>

<hr />

<div class="children">
  <% entry.thread_entries.each do |child| %>
    <%= render 'child_entry', child: child %>
  <% end %>
</div>
