<% if entry.facilitation? %>
  <%= render 'themes/user_icon', entry: entry %>
  ファシリテーター@<%= entry.created_at %>
<% else %>
  <%= render 'themes/user_icon', entry: entry %>
  <%= entry.user.name %>@<%= entry.created_at %>
<% end %>

<p class="lead"><%= entry.title %></p>
<p><%= entry.body %></p>

<% entry.issues.each do |issue| %>
  <span class="label label-default"><%= issue.name %></span>
<% end %>

<% if entry.image? %>
  <%= image_tag entry.image.entry_thumb.url %>
<% end %>

<%= render 'themes/thumb', entry: entry %>
<%= render 'themes/information', entry: entry %>

<% if user_signed_in? %>
  <%= render 'themes/like_button', entry: entry %>
<% end %>

<hr />

<div class="children">
  <% entry.thread_entries.each do |child| %>
    <%= render 'child_entry', child: child %>
  <% end %>
</div>
