<div class="modal-window" id="reply-modal-<%= child.id %>">
  <div class="modal_close"></div>
  <div class="reply-modal-parent">
    <div class="content" id="modal-window-content">
      <%= render 'themes/user_icon', entry: child %>
      <%= child.body %>

      <div class="info-list">
        <% if child.np >= 50 %>
          <span class="label label-success"><%= t('entries.disagree') %></span>
        <% else %>
          <span class="label label-warning"><%= t('entries.agree') %></span>
        <% end %>
        <span class="user-name">
          <%= child.facilitation ? t('entries.facilitator') : child.user.name  %>
        </span>
        <span class="timestamp"> [<%= child.created_at %>]</span>
        <%= render 'themes/information', entry: child %>

      </div>

      <% if child.image? %>
        <%= image_tag child.image.entry_thumb.url %>
      <% end %>
    </div>
  </div>
  <hr />


  <% if current_user.admin? || current_user.facilitator? %>
    <ul class="nav nav-pills nav-collagree margin-bottom" role="tablist">
      <li class="active"><a href="#post<%= child.id %>" role="tab" data-toggle="tab"><%= t('entries.post') %></a></li>
      <li><a href="#facilitation<%= child.id %>" role="tab" data-toggle="tab"><%= t('entries.facilitation') %></a></li>
    </ul>
  <% end %>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active reply-tab" id="post<%= child.id %>">
        <%= render 'reply_entry_form', { entry: child } %>
    </div>
    <% if current_user.admin? || current_user.facilitator? %>
      <div class="tab-pane facilitation-tab" id="facilitation<%= child.id %>">
        <%= render 'reply_facilitation_form', { entry: child, k: child.id } %>
      </div>
    <% end %>
  </div>

  <div class="tab-pane" id="post<%= child.id %>">
        <%= render 'reply_entry_form', { entry: child } %>
    </div>
    <% if current_user.admin? || current_user.facilitator? %>
      <div class="tab-pane" id="facilitation<%= child.id %>">
        <%= render 'reply_facilitation_form', { entry: child, k: child.id } %>
      </div>
    <% end %>
  </div>
</div>
