<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#post<%= i %>" role="tab" data-toggle="tab">投稿</a></li>
  <li><a href="#faciltation<%= i %>" role="tab" data-toggle="tab">ファシリテーション</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="post<%= i %>">
    <%= render 'reply_entry_form', entry: entry %>
  </div>
  <div class="tab-pane" id="faciltation<%= i %>">
    <%= render 'reply_facilitation_form', { entry: entry, k: i } %>
  </div>
</div>
