<!-- user_admin?メッソドがへルパーメッソドのコントローラーにある　 -->
<!-- roleが０だとmodelのuseをみるとemnuでをadminになるようになっている！！　だからroleが０だとtrueで以下が表示される -->
<% if user_admin?(current_user) %>
  <div class="btn-group btn-group-justified" role="group" aria-label="">
    <div class="btn-group" role="group">
      <%= link_to @theme do %>
        <button type="button" class="btn btn-default">通常閲覧モード</button>
      <% end %>
    </div>
    <div class="btn-group" role="group">
      <%= link_to '/themes/only_timeline/' + @theme.id.to_s do %>
        <button type="button" class="btn btn-default">スライド表示モード</button>
      <% end %>
    </div>
    <div class="btn-group" role="group">
      <%= link_to '/themes/' + @theme.id.to_s + '/auto_facilitation_test', method: :post, data: { confirm: "一度このテーマの投稿を全て削除して、オートファシリテーションのテストを行います。本当によろしいですか？" } do %>
        <button type="button" class="btn btn-default">オートファシリテーションテスト</button>
      <% end %>
    </div>
  </div>
  <br />
<% end %>



<!-- roleは役割を表す -->
<ul class="nav nav-pills nav-collagree" role="tablist">
  <li class="active"><a href="#discussion" role="tab" data-toggle="tab">議論</a></li>
  <li><a href="#infomation" role="tab" data-toggle="tab">ランキング</a></li>
  <li><a href="#tree" role="tab" data-toggle="tab">議論ツリー</a></li>
  <% if user_signed_in? %>
    <% if smartphone? %>
      <li><a href="#get-point" role="tab" data-toggle="tab">獲得ポイント</a></li>
    <% end %>
  <% end %>
</ul>

<!-- Tab panes -->
<div class="tab-content" id="theme-show">
  <div class="tab-pane active" id="discussion">

    <div class="row">
      <div class="col-md-8">

        <!-- 投稿フォームについて -->
        <div id="main-form">
          
        </div>
        <hr />

        <div class="well" id="entry_notice">
          <span>新着投稿が</span><span id="entry_notice_count">0</span>件あります
        </div>

        <!-- 検索するとことのビュー -->
        <div class="well" id="tl-tool">
          
        </div>

        <div id="top-loading">
          <%= image_tag 'theme/icon-loading.gif' %>
        </div>

        <!-- この部分がそれぞれの記事を表示するビューになる -->
        <div id="timeline">
            <%= render 'panel', entry: @entry %>
        </div>

        <div id="icon-loading">
          <%= image_tag 'theme/icon-loading.gif' %>
        </div>




      </div>

      <!-- FIXME: chosei -->
    </div>
  </div>

</div>

<%= javascript_include_tag 'pnotify.custom.min.js', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag 'mobile.css' if smartphone? %>

<script>
  modal.set()
</script>
