<div id="entry-<%= child.id %>" class="child">
  <%= render 'user_icon', entry: child %>

  <% if child.np >= 50 %>
    <span class="label label-success">賛成</span>
  <% else %>
    <span class="label label-warning">反対</span>
  <% end %>

  <span class="glyphicon glyphicon-chevron-right small"></span>
  <%= child.created_at %>
  <%= child.body %>
  by <%= child.facilitation ? "ファシリテータ" : child.user.name  %>

  <% if user_signed_in? %>
    <a rel="leanModal" href="#reply-modal-<%= child.id %>">
      <button class="btn btn-default btn-xs">返信する</button>
    </a>
    <%= render 'like_button', entry: child %>
  <% end %>

  <%= render 'information', entry: child %>

  <% if child.image? %>
    <%= image_tag child.image.entry_thumb.url %>
  <% end %>

  <div class="replies"></div>

  <% if user_signed_in? %>
    <%= render 'modal_form', child: child  %>
  <% end %>

  <% child.thread_childrens.each do |c| %>
    <%= render 'child_entry', child: c %>
  <% end %>
</div>
