<div class="child-content ">
  <div id="entry-<%= child.id %>" class="child post-content" data-id="<%= child.id %>">
    <div class="child-points">
      <p class="points" id="point-<%= child.id %>"><%= child.score %></p>
      <p class="points-text">points</p>
    </div>

    <%= render 'user_icon', entry: child %>

    <% if child.np >= 50 %>
      <span class="label label-success thumb-box">反対</span>
    <% else %>
      <span class="label label-warning thumb-box">賛成</span>
    <% end %>


    <div id="childID_<%= child.id %>"　class="<%= 'facilitation-back' if child.facilitation? %>"　>

    <div class="child-body">
      <%= simple_format(auto_link(child.body, html: { target: '_blank' }, link: :urls)) %> 
      <!-- (No.<%= child.id %>) -->
      <%#= simple_format(child.body) %>
       <!-- (No.<%= child.id %>) -->
    </div>

    <% if child.image? %>
      <%= link_to (image_tag child.image.entry_thumb.url, class: 'img-radius'), child.image_url %>
    <% end %>

    <div class="info-list">
      <span class="user-name">
        <%= child.facilitation ? "ファシリテーター" : child.user.name %>
      </span>
      <span class="timestamp">・<%= child.created_at.to_s(:timeline) %></span>
      <%= render 'information', entry: child %>

      <span class="entry-number">投稿No.<%= child.id %></span>
    </div>

    <% if user_signed_in? && !smartphone? %>
      <div class="actions">
        <%= render 'reply_button', entry: child %>
        <%= render 'like_button', entry: child %>
      </div>
    <% end %>
    <hr />

  </div>

    <% if user_signed_in? && smartphone? %>
      <div class="buttons">
        <%= render 'reply_button', entry: child %>
        <%= render 'like_button', entry: child %>
      </div>
    <% end %>


    <div class="replies">
      <% child.thread_childrens.each do |c| %>
        <%= render 'child_entry', child: c %>
      <% end %>
    </div>

    <% if user_signed_in? %>
      <%= render 'modal_form', child: child  %>
    <% end %>

  </div>
</div>
