<div class="child-content">
  <div id="entry-<%= child.id %>" class="child post-content" data-id="<%= child.id %>">
    <div class="child-points">
      <p class="points" id="point-<%= child.id %>"><%= child.score %></p>
      <p class="points-text">points</p>
    </div>

    <%= render 'user_icon', entry: child %>


    <div id="childID_<%= child.id %>"　class="<%= 'facilitation-back' if child.facilitation? %>"　>
      <%= render 'entry_show', entry: child %>

      <%= render 'information', entry: child %>

      <% if user_signed_in? %>
        <div class="actions">
          <%= render 'reply_button', entry: child %>
          <%= render 'like_button', entry: child %>
        </div>
      <% end %>
    </div>


    <% child.thread_childrens.each do |c| %>
      <div class="replies" style=" <%= 'margin-left: -5px;' if smartphone? %>" >
        <hr>
        <%= render 'child_entry', child: c %>
      </div>
    <% end %>

    <% if user_signed_in? %>
      <%= render 'modal_form', child: child  %>
    <% end %>
  </div>
</div>
