<div class="content">
  <div class="entry-box post-content" id="entry-<%= entry.id %>" data-id="<%= entry.id %>">
    <span class="entry-title"><%= entry.title %></span>
    <div class="entry-points">
      <p class="points" id="point-<%= entry.id %>"><%= entry.score %></p>
      <p class="points-text">points</p>
    </div>

    <%= render 'user_icon', entry: entry %>

    <div class="entry-body">
      <%= simple_format(entry.body) %> (No.<%= entry.id %>)
    </div>

    <% entry.issues.each do |issue| %>
      <span class="label label-default issue-label" data-id="<%= issue.id %>"><%= issue.name %></span>
    <% end %>

    <% if entry.image? %>
      <%= link_to (image_tag entry.image.entry_thumb.url, class: 'img-radius'), entry.image_url %>
    <% end %>


    <div class="info-list">
      <span class="user-name">
        <% if entry.facilitation? %>
          ファシリテーター
        <% else %>
          <%= entry.user.name %>
        <% end %>
      </span>
      <span class="timestamp">・<%= entry.created_at.to_s(:timeline) %></span>
      <%= render 'thumb', entry: entry %>
      <%= render 'information', entry: entry %>

      <span class="entry-number">投稿No.<%= entry.id %></span>
    </div>

    <% unless entry.facilitation %>
      <% if user_signed_in? && !smartphone? %>
        <div class="actions">
          <%= render 'reply_button', entry: entry %>
          <%= render 'like_button', entry: entry %>
        </div>
      <% end %>

      <% if user_signed_in? && smartphone? %>
        <div class="buttons">
          <%= render 'reply_button', entry: entry %>
          <%= render 'like_button', entry: entry %>
        </div>
      <% end %>
    <% end %>
    <hr />

    <div class="children">
      <% entry.thread_entries.each do |child| %>
        <%= render 'child_entry', child: child %>
        <% if smartphone? %>
          <hr />
        <% end %>
      <% end %>
    </div>

    <% if user_signed_in? %>
      <%= render 'modal_form', child: entry  %>
    <% end %>


  </div>
</div>
