<% if entry.facilitation? %>
  <%= image_tag 'faci_icon.png' , class: 'user-icon img-circle' %>
  ファシリテーター@<%= entry.created_at %>
<% else %>
  <%= image_tag user_icon_path(entry.user), class: 'user-icon img-circle' %>
  <%= entry.user.name %>@<%= entry.created_at %>
<% end %>

<p class="lead"><%= entry.title %></p>
<p><%= entry.body %></p>

<% entry.issues.each do |issue| %>
  <span class="label label-default issue-label" data-id="<%= issue.id %>"><%= issue.name %></span>
<% end %>

<% if entry.image? %>
  <%= image_tag entry.image.entry_thumb.url %>
<% end %>

<span class="glyphicon glyphicon-thumbs-up"></span> <%= entry.thread_positive_count %> / <span class="glyphicon glyphicon-thumbs-down"></span> <%= entry.thread_negative_count %>

<% if entry.liked? %>
  <%= button_tag "Like!を取り消す", data: {id: entry.id, status: "remove"}, class: "like_button btn btn-default btn-xs" %>
<% else %>
  <%= button_tag "Like!", data: {id: entry.id, status: "attach"}, class: "like_button btn btn-default btn-xs" %>
<% end %>

<span class="point"><%= entry.point %></span>

<hr />

<div class="children">
  <% entry.thread_entries.each do |child| %>
    <div class="thread">
      <%= render 'child_entry', child: child %>
    </div>
  <% end %>
</div>
