<%= form_for(@entry) do |f| %>
  <div class="form-group">
    <%= f.text_field :title , class: 'form-control',　placeholder: 'あなたの意見のタイトルを入力してください。(20字以下)' %>
  </div>
  <div class="form-group">
    <%= f.text_area :body , class: 'form-control', placeholder: 'あなたはどんな意見ですか' %>
  </div>
  <%= f.hidden_field :user_id, { :value => current_user.id } %>
  <%= f.hidden_field :parent_id, { :value => @entry.parent_id } %>
  <%= f.hidden_field :theme_id, { :value => @theme.id } %>
  <%= f.submit '投稿', class: 'btn btn-default' %>
<% end %>
