<div class="content">
  <div class="entry-box" id="entry-<%= entry.id %>" data-id="<%= entry.id %>">
    <span class="entry-title"><%= entry.title %></span>
    <div class="entry-points">
      <p class="points" id="point-<%= entry.id %>"><%= entry.score %></p>
      <p class="points-text">points</p>
    </div>
    <%= render 'user_icon', entry: entry %>

    <p><%= entry.body %></p>

    <% entry.issues.each do |issue| %>
      <span class="label label-default issue-label" data-id="<%= issue.id %>"><%= issue.name %></span>
    <% end %>

    <% if entry.image? %>
      <%= link_to (image_tag entry.image.entry_thumb.url, class: 'img-radius'), entry.image_url %>
    <% end %>


    <div class="info-list">
      <span class="user-name">
        <% if entry.facilitation? %>
          ファシリテーター
        <% else %>
          <%= entry.user.name %>
        <% end %>
      </span>
      <span class="timestamp"> [<%= entry.created_at %>]</span>
      <%= render 'thumb', entry: entry %>
      <%= render 'information', entry: entry %>

      <% if user_signed_in? %>
        <%= render 'like_button', entry: entry %>
      <% end %>
    </div>
    <hr />

    <div class="children">
      <% entry.thread_entries.each do |child| %>
        <div class="thread">
          <%= render 'child_entry', child: child %>
        </div>
      <% end %>
    </div>
  </div>
</div>
