<% if entry.facilitation? %>
  <%= render 'user_icon', entry: entry %>
  ファシリテーター@<%= entry.created_at %>
<% else %>
  <%= render 'user_icon', entry: entry %>
  <%= entry.user.name %>@<%= entry.created_at %>
<% end %>

<p class="lead"><%= entry.title %></p>
<p><%= entry.body %></p>

<% entry.issues.each do |issue| %>
  <span class="label label-default issue-label" data-id="<%= issue.id %>"><%= issue.name %></span>
<% end %>

<% if entry.image? %>
  <%= image_tag entry.image.entry_thumb.url %>
<% end %>

<%= render 'thumb', entry: entry %>
<%= render 'information', entry: entry %>

<% if user_signed_in? %>
  <%= render 'like_button', entry: entry %>
<% end %>

<hr />

<div class="children">
  <% entry.thread_entries.each do |child| %>
    <div class="thread">
      <%= render 'child_entry', child: child %>
    </div>
  <% end %>
</div>
