<div class="panel panel-default">
  <div class="panel-body">
    <h3><%= t('themes.ranking_title') %></h3>

    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= t('themes.ranking') %></th>
          <th><%= t('themes.post') %></th>
          <th><%= t('themes.post_user') %></th>
          <th><%= t('themes.point') %></th>
        </tr>
      </thead>
      <tbody>
        <% entries.each_with_index do |entry, idx| %>
          <% if idx == 15 || entry.point == 0  %>あ<% break %><% end %>
          <tr>
            <td id=""><%= idx + 1 %></td>
            <td id="">
              <%= cut_off(entry.body, 30) %>
            </td>
            <td id=""><%= entry.user.name %></td>
            <td id=""><%= entry.point %> <%= t('themes.point') %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
