
<div class="content">
  <div class="entry-box post-content" id="entry-<%= entry.id %>" data-id="<%= entry.id %>">

    <div class="entry-points">
      <p class="points" id="point-<%= entry.id %>"><%= entry.score %></p>
      <p class="points-text">points</p>
    </div>

    <%= render 'user_icon', entry: entry %>
    <%= render 'entry_show', entry: entry %>


    <!-- 投稿の情報 -->
    <%= render 'information', entry: entry %>



    <!-- いいねボタンと返信ボタン -->
    <% #unless entry.facilitation %>
      <% if user_signed_in? %>
        <div class="actions">
          <%= render 'reply_button', entry: entry %>
          <%= render 'like_button', entry: entry %>
          <% if (current_user.admin? || current_user.facilitator?) &&  !@theme.nolink %>
            <%= render 'tags_add', entry: entry %>
          <% end %>
        </div>
      <% end %>


    <!-- スレッドの子供の記事を表示していく -->
    <div class="children" id="entry-<%= entry.id %>" style="<%='margin-left: -20px;' if smartphone? %>" >
      <div id = "<%= "child-entry-hidden#{entry.id}" if count_entry > show_entry %>">
        <% entry.thread_entries.each do |child| %>
          <hr>
          <%= render 'child_entry', child: child %>
        <% end %>
      </div>
    </div>

    <% if user_signed_in? && !@theme.nolink %>
      <%= render 'modal_form', child: entry  %>
    <% end %>


  </div>
</div>