<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @theme do |f| %>
      <div class="field">
        <%= f.label :title %><br>
        <%= f.text_field :title, :size=>"80", class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :body_text %><br>
        <%= f.text_area :body_text, :size=>"80x5", class: 'form-control' %>
      </div>
      <div class="field">
        <%= f.label :start_at %><br>
        <%= f.datetime_select :start_at, :minute_step => 10 %>
      </div>
      <div class="field">
        <%= f.label :end_at %><br>
        <%= f.datetime_select :end_at, :minute_step => 10 %>
      </div>
      <div class="form-group">
        <%= f.label :point_function %><br>
        <%= f.select :point_function, [['ポイント機能あり', true], ["ポイント機能なし", false]], class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :secret %><br>
        <%= f.select :secret, [ ["公開", false],['非公開', true]], class: 'form-control' %>
      </div>

      <!-- 閲覧モードの追加カラムで余ってたnolinkをしよう -->
      <div class="form-group">
        <%= f.label :nolink %><br>
        <%= f.select :nolink, [["議論", false], ['閲覧のみ', true]], class: 'form-control' %>
      </div>

      <div id="form-group">
        <%= f.file_field :image %>
      </div>
      <%= f.hidden_field :admin_id, { :value => current_user.id } %>

      <div class="actions">
        <%= f.submit '作成', class: 'btn btn-default' %>
      </div>
    <% end %>
  </div>
</div>