<%= form_for @theme do |f| %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="form-group">
    <%= f.label :body %><br>
    <%= f.text_field :body %>
  </div>
  <div class="form-group">
    <%= f.label :color %><br>
    <%= f.text_field :color %>
  </div>
  <div class="form-group">
    <%= f.label :point_function %><br>
    <%= f.select :point_function, [[t('themes.with_pointing'), true], [t('themes.without_pointing'), false]] %>
  </div>
  <div id="form-group">
    <%= f.file_field :image %>
  </div>
  <%= f.hidden_field :secret, { :value => false } %>
  <%= f.hidden_field :admin_id, { :value => current_user.id } %>

  <div class="actions">
    <%= f.submit t('themes.create'), class: 'btn btn-default' %>
  </div>
<% end %>
