<div class="panel panel-default">
  <div class="panel-header">
    <h4 class=""><span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span><%= t('themes.news_title') %></h4>
  </div>
  <div class="panel-body">
    <% if @tree_type == 1 %>
      <div class="phase">
        <%= image_tag 'phase/phase1.png' %>
      </div>
      <div class="phase_comment">
        <h4 class=""><span class="glyphicon glyphicon-hand-up" aria-hidden="true"></span> <%= t('themes.what_divergence') %></h4>
        <%= t('themes.description_divergence') %>
        <% if params[:id] != "4" %>
          <br><%= t('themes.what_divergence') %>
        <% end %>
      </div>
    <% elsif @tree_type == 2 %>
      <div class="phase">
        <%= image_tag 'phase/phase2.png' %>
      </div>
      <div class="phase_comment">
        <h4 class=""><span class="glyphicon glyphicon-hand-up" aria-hidden="true"></span> <%= t('themes.what_convergence') %></h4>
        <%= t('themes.description_convergence') %>
        <% if params[:id] != "4" %>
          <br><%= t('themes.advertise_convergence') %>
        <% end %>
      </div>
    <% else %>
      <div class="phase">
        <%= image_tag 'phase/phase3.png' %>
      </div>
      <div class="phase_comment">
        <h4 class=""><span class="glyphicon glyphicon-hand-up" aria-hidden="true"></span> <%= t('themes.what_consensus') %></h4>
        <%= t('themes.description_consensus') %>
        <% if params[:id] != "4" %>
          <br><%= t('themes.advertise_consensus') %>
        <% end %>
      </div>
    <% end %>
    <hr>

    <div class="facilitation_infomations">
      <div class="f_image">
        <%= image_tag 'faci_icon.png' %>
      </div>
      <div class="f_comment">
        <%= simple_format(@f_comment) %>
      </div>
      <div class="f_comment_btn">
      <br>
        <% if user_admin?(current_user) %>
          <%= link_to t('themes.update_comments'), new_facilitation_infomation_path(theme_id: params[:id]) ,class: 'btn btn-default' %>
        <% end %>
      </div>
    </div>
  </div>

</div>
