<div class="panel panel-default">
  <div class="panel-header">
    <h4 class=""><span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span> News from the facilitator / ファシリテータからのお知らせ</h4>
  </div>
  <div class="panel-body">
    <% if @tree_type == 1 %>
      <div class="phase">
        <%= image_tag 'phase/phase1.png' %>
      </div>
      <div class="phase_comment">さまざまな角度からテーマについて話し合って、たくさんの意見を出しましょう！</div>
    <% elsif @tree_type == 2 %>
      <div class="phase">
        <%= image_tag 'phase/phase2.png' %>
      </div>
      <div class="phase_comment">現在出ている意見について、より議論を深めていきましょう！画面右のキーワードにも注目！</div>
    <% else %>
      <div class="phase">
        <%= image_tag 'phase/phase3.png' %>
      </div>
      <div class="phase_comment">最終的な合意案を作るために、議論を煮詰めていきましょう！合意案をより良くするには？</div>
    <% end %>
    <hr>
    
    <div class="facilitation_infomations">
      <div class="f_image">
        <%= image_tag 'faci_icon.png' %>
      </div>
      <div class="f_comment">
        <%= simple_format(@f_comment) %>
      </div>
      <div class="f_comment_btn">
      <br>
        <% if user_admin?(current_user) %>
          <%= link_to 'コメント更新', new_facilitation_infomation_path(theme_id: params[:id]) ,class: 'btn btn-default' %>
        <% end %>
      </div>
    </div>
  </div>

</div>
