
<div class="info-list">

	<!-- 論点タグ -->
	<% if entry.parent_id == nil %>
		<% if (current_user.admin? || current_user.facilitator?) && @vote_phase.nil? %>
			<div style="color:#8899a6">
				<%= form_tag(controller: :themes, action: :add_entry_tag ,method: "post") do %>
					<% if @theme.issues.size != 0 %>
					      <% @theme.issues.each do |issue| %>
					      	<% if entry.issue?(issue) %>
					        	<%= check_box 'issues', issue.id, checked: true %>
					        	<span class="label label-default issue-label" data-id="<%= issue.id %>" style="margin-right:10px"><%= issue.name %></span>
					        <% else %>
					        	<%= check_box 'issues', issue.id, checked: false %>
					        	<span style="margin-right:10px"><%= issue.name %></span>
					        <% end %>
					      <% end %>
						<%= hidden_field_tag :theme_id, @theme.id %>
						<%= hidden_field_tag :entry_id, entry.id %>

						<%= submit_tag "論点編集", class: 'btn btn-default btn-sm' %>
					<% end %>
				<% end %>
			</div>
		<% else %>
			<div>
				<% entry.issues.each do |issue| %>
		      		<span class="label label-default issue-label" data-id="<%= issue.id %>" style="margin-right:10px">
		      			<%= issue.name %>
		      		</span>
		    	<% end %>
			</div>
	    <% end %>
	<% end %>
	<!-- 論点タグ -->

	<!-- ユーザー名 -->
	<span class="user-name">
	<% if entry.facilitation? %>
	  <%= t('themes.facilitator') %>
	<% else %>
	  <%= entry.user.name %>
	<% end %>
	</span>

	<% if smartphone?%><br><% end %>
	<!-- 作成された時間 -->
  	<span class="timestamp"><% if !smartphone?%>・<% end %><%= entry.created_at.to_s(:timeline) %></span>

  	<!-- いいねの数 -->
  	<%= t('themes.like') %><span class="like_count info-icon"><%= entry.like_count %><%= t('themes.count') %></span>

  	<!-- エントリーのid -->
  	<span class="entry-number"><%= t('themes.post_no') %><%= entry.id %></span>
</div>
