<div class="modal-window <%= 'modal-window-mobile' if smartphone? %>" id="reply-modal-<%= child.id %>" style="overflow: scroll;">
  <div class="modal_close"></div>
  <div class="reply-modal-parent">
    <div class="content" id="modal-window-content">
      <%= render 'themes/user_icon', entry: child %>
      
      <%= render 'entry_show', entry: child %>


      <div class="info-list">
        <%= render 'themes/information', entry: child %>
      </div>

    </div>
  </div>
  <hr />

<!-- ファシリテータか一般ユーザーの投稿かを選択 -->
  <% if current_user.admin? || current_user.facilitator? %>
    <ul class="nav nav-pills nav-collagree margin-bottom" role="tablist">
      <li class="active"><a href="#post<%= child.id %>" role="tab" data-toggle="tab"><%= t('themes.post') %></a></li>
      <li><a href="#facilitation<%= child.id %>" role="tab" data-toggle="tab"><%= t('themes.facilitation') %></a></li>
    </ul>
  <% end %>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active reply-tab" id="post<%= child.id %>">
      <%= render 'themes/reply_entry_form', { entry: child} %>
    </div>

    <!-- ファシリテータか一般ユーザーの投稿かを選択 -->
    <% if current_user.admin? || current_user.facilitator? %>
      <div class="tab-pane facilitation-tab" id="facilitation<%= child.id %>">
        <%= render 'themes/reply_facilitation_form', { entry: child, k: child.id } %>
      </div>
    <% end %>
  </div>
</div>
