<div class="panel panel-default">
  <div class="panel-header">
    <h4 class=""><span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span> t('themes.your_point_is')</h4>
  </div>
  <div class="panel-body">
    <span id=""><%= t('themes.your_point_is') %></span>
    <!-- point_listはthemes_controller.rbの中で定義されている -->
    <span id="sum_point">  <%= point_list[:sum] %></span>
    <span id=""><%= t('themes.point_desu') %></span>

    <table class="table point-table">
      <thead>
        <tr>
          <th><%= t('themes.post') %></th>
          <th><%= t('themes.reply') %></th>
          <th><%= t('themes.approval') %></th>
          <th><%= t('themes.point_activity') %></th>
          </tr>
      </thead>
      <tbody>
        <tr>
          <td id="entry_point"><%= point_list[:entry] %></td>
          <td id="reply_point"><%= point_list[:reply] %></td>
          <td id="like_point"> <%= point_list[:like] %></td>
          <td id="active_point"><%= "%.1f" % (point_list[:entry] + point_list[:reply] + point_list[:like]) %></td>
        </tr>
      </tbody>
    </table>

    <table class="table point-table">
      <thead>
        <tr>
          <th><%= t('themes.replied') %></th>
          <th><%= t('themes.approvaled') %></th>
          <th></th>
          <th><%= t('themes.point_activity') %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td id="replied_point"><%= point_list[:replied] %></td>
          <td id="liked_point"><%= point_list[:liked] %></td>
          <td></td>
          <td id="passive_point"><%= "%.1f" % (point_list[:replied] + point_list[:liked]) %></td>
        </tr>
      </tbody>
    </table>

    <!-- ポイント履歴が意味ないということで非表示 -->
    <% if false %>
    <h4><%= t('themes.point_history') %></h4>
    <div style="max-height:300px; overflow-y:scroll;">
      <table height="" class="table">
        <thead>
          <tr>
          </tr>
        </thead>
        <tbody>
          <% @point_history.each do |ap| %>
            <tr>
              <td>
                <span class="bold"><%= ap.point %>pt </span><span class="glyphicon glyphicon-chevron-right small"></span>
                <% case ap.action
                   when "投稿" %>
                <%= t('themes.posted') %> (<%= t('themes.post_no') %><%= ap.entry.id %>)
                <% when "返信" %>
                <%= t('themes.reply_done',{name: ap.entry.parent.user.name}) %>(<%= t('themes.post_no') %><%= ap.entry.id %>)
                <% when "Like" %>
                <%= t('themes.like_done',{name: ap.entry.user.name}) %>(Like No.<%= ap.like.id %>)
                <% when "返信され" %>
                <%= t('themes.replied_done',{name: ap.reply.user.name}) %>(<%= t('themes.post_no') %><%= ap.entry.id %>)
                <% when "Likeされ" %>
                <% if ap.depth == 0 %>
                  <%= t('liked_no_done',{id: ap.entry.id,name: ap.like.user.name})%>(Agree No.<%= ap.like.id %>)
                <% else %>
                  <%= t('liked_related_done',{id: ap.entry.id,name: ap.like.user.name})%>Agree No.<%= ap.like.id %>)
                <% end %>
                <% when "Likeを削除され" %>
                <%= t('liked_delated',{id: ap.entry.id,name: ap.like.user.name})%>(Like No.<%= ap.like.id %>)
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <% end %>
  </div>
</div>
