<div class="panel panel-default">
  <div class="panel-body">
    <h3>Point / ポイントデバッグ</h3>
    <table class="table">
      <thead>
        <tr>
          <th>atype</th>
          <th>action</th>
          <th>point</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>active</td>
          <td>entry</td>
          <td><%= current_user.entry_point %></td>
        </tr>
        <tr>
          <td>active</td>
          <td>reply</td>
          <td><%= current_user.reply_point %></td>
        </tr>
        <tr>
          <td>active</td>
          <td>like</td>
          <td><%= current_user.like_point %></td>
        </tr>
        <tr>
          <td>passive</td>
          <td>replied</td>
          <td><%= current_user.replied_point %></td>
        </tr>
        <tr>
          <td>passive</td>
          <td>liked</td>
          <td><%= current_user.liked_point %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
