<div class="panel panel-default">
  <div class="panel-body">
    <h3>Point / ポイントデバッグ</h3>
    <table class="table">
      <thead>
        <tr>
          <th>atype</th>
          <th>action</th>
          <th>point</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>active</td>
          <td>entry</td>
          <td><%= current_user.entry_point(@theme) %></td>
        </tr>
        <tr>
          <td>active</td>
          <td>reply</td>
          <td><%= current_user.reply_point(@theme) %></td>
        </tr>
        <tr>
          <td>active</td>
          <td>like</td>
          <td><%= current_user.like_point(@theme) %></td>
        </tr>
        <tr>
          <td>passive</td>
          <td>replied</td>
          <td><%= current_user.replied_point(@theme) %></td>
        </tr>
        <tr>
          <td>passive</td>
          <td>liked</td>
          <td><%= current_user.liked_point(@theme) %></td>
        </tr>
      </tbody>
    </table>

    <table class="table">
      <thead>
        <tr>
          <th>action</th>
        </tr>
      </thead>
      <tbody>
        <% current_user.active_point(@theme).each do |ap| %>
        <tr>
          <td>
            $<%= ap.point %>
            <% case ap.action
               when "投稿" %>
            投稿しました (投稿 No.<%= ap.entry_id %>)
            <% when "返信" %>
            <%= ap.entry.parent.user.name %>さんの投稿に返信しました (投稿 No.<%= ap.entry_id %>)
            <% when "Like" %>
            <%= ap.entry.user.name %>さんの投稿にLikeしました (Like No.<%= ap.like_id %>)
            <% when "返信され" %>
            投稿(No.<%= ap.entry_id %>)に返信されました (投稿　No.<%= ap.entry_id %>)
            <% when "Likeされ" %>
            投稿(No.<%= ap.entry_id %>)が<%= ap.like.user.name %>さんにLikeされました (Like No.<%= ap.like_id %>)
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
