<div class="panel panel-default">
  <div class="panel-body">
    <h3>Point / 議論ポイント <small>[最終更新：<%#= created_at %>]</small></h3>
    <span id="">あなたの議論ポイントは</span>
    <span id="sum_point">  <%= "%.1f" % (user.sum_point(theme)) %></span>
    <span id="">ポイントです</span>

    <table class="table">
      <thead>
        <tr>
          <th>投稿</th>
          <th>返信</th>
          <th>賛同</th>
          <th>活動ポイント</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td id="entry_point"><%= "%.1f" % user.entry_point(theme) %></td>
          <td id="reply_point"><%= "%.1f" % user.reply_point(theme) %></td>
          <td id="like_point"><%= "%.1f" % user.like_point(theme) %></td>
          <td id="active_point"><%= "%.1f" % (user.entry_point(theme) + user.reply_point(theme) + user.like_point(theme)) %></td>
        </tr>
      </tbody>
    </table>
    <table class="table">
      <thead>
        <tr>
          <th>返信された</th>
          <th>賛同された</th>
          <th></th>
          <th>フィードバックポイント</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td id="replied_point"><%= "%.1f" % user.replied_point(theme) %></td>
          <td id="liked_point"><%= "%.1f" % user.liked_point(theme) %></td>
          <td></td>
          <td id="passive_point"><%= "%.1f" % (user.replied_point(theme) + user.liked_point(theme)) %></td>
        </tr>
      </tbody>
    </table>

    <h4>ポイント履歴</h4>
    <div style="max-height:300px; overflow-y:scroll;">
      <table height="" class="table">
        <thead>
          <tr>
          </tr>
        </thead>
        <tbody>
          <% current_user.point_history(@theme).each do |ap| %>
            <tr>
              <td>
                <span class="bold"><%= ap.point %>pt </span><span class="glyphicon glyphicon-chevron-right small"></span>
                <% case ap.action
                   when "投稿" %>
                投稿しました (投稿 No.<%= ap.entry.id %>)
                <% when "返信" %>
                <%= ap.entry.parent.user.name %>さんの投稿に返信しました (投稿 No.<%= ap.entry.id %>)
                <% when "Like" %>
                <%= ap.entry.user.name %>さんの投稿にLikeしました (Like No.<%= ap.like.id %>)
                <% when "返信され" %>
                <%= ap.reply.user.name if ap.reply.present? %>さんに返信されました (投稿 No.<%= ap.entry.id %>)
                <% when "Likeされ" %>
                <% if ap.depth == 0 %>
                  投稿(No.<%= ap.entry.id %>)が<%= ap.like.user.name %>さんに賛同されました (Agree No.<%= ap.like.id %>)
                <% else %>
                  投稿(No.<%= ap.entry.id %>)に関連する投稿が<%= ap.like.user.name %>さんに賛同されました (Agree No.<%= ap.like.id %>)
                <% end %>
                <% when "Likeを削除され" %>
                投稿(No.<%= ap.entry.id %>)への<%= ap.like.user.name %>さんのLikeが削除されました (Like No.<%= ap.like.id %>)
          <% end %>
</td>
</tr>
<% end %>
</tbody>
</table>
</div>
</div>
</div>
