<div style="color:#8899a6">
	<%= form_tag(controller: :themes, action: :add_entry_tag ,method: "post") do %>

		  <% if @theme.issues.count != 0 %>
		      <% @theme.issues.each do |issue| %>
		        <%= check_box 'issues', issue.id, checked: issue.checked_entry(entry) %>
		        <%= issue.name %>　
		      <% end %>
		  <% end %>
		  <%= hidden_field_tag :theme_id, @theme.id %>
		  <%= hidden_field_tag :entry_id, entry.id %>

		  <%= submit_tag "タグ編集", class: 'btn btn-default btn-sm' %>
	<% end %>
</div>