<div class="panel panel-default">
  <div class="panel-header">
    <h4 class=""><span class="glyphicon glyphicon-tags" aria-hidden="true"></span> <%= t('themes.tag_title') %></h4>
  </div>
  <div class="panel-body">
    <%= form_for(@issue) do |f| %>
      <div class="form-group">
        <%= f.text_field :name , class: 'form-control' %>
      </div>
      <%= f.hidden_field :theme_id, { :value => @theme.id } %>
      <%= f.submit '＋', class: 'btn btn-default' %>
    <% end %>

    <% @theme.issues.each do |issue| %>
      <%= issue.name %>
    <% end %>
  </div>
</div>
