<div class="panel panel-default">
  <% if !theme.secret %>
    <div class="panel-heading">
      <span style="margin-right:18px; font-size:20px; font-weight: bold;"><%= link_to theme.title, theme, data={"no-turbolink" => true ,id: "top-theme"} %></span> 
      <% if theme.start_at? %>
        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
        <%= theme.start_at.strftime("%m.%d %H:%M") %> - <%= theme.end_at.strftime("%m.%d %H:%M") %>
      <% end %>
    </div>
  <% else %>
    <div class="panel-heading">
      <span style="margin-right:18px; font-size:20px; font-weight: bold;"><%= theme.title%></span> 
      <% if theme.start_at? %>
        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
        <%= theme.start_at.strftime("%m.%d %H:%M") %> - <%= theme.end_at.strftime("%m.%d %H:%M") %>
      <% end %>
    </div>
  <% end %>
  <div class="panel-body">
    <!-- パーシャル使えないか -->
    <div class="theme-image">
      <div class="row">
        <div class="col-md-3">
          <div class="theme-image-top">
            <% if !theme.secret %>
              <% if theme.image? %>
                <%= link_to (image_tag theme.image.url(:theme_thumb)), theme, data={"no-turbolink" => true ,id: "top-theme"} %>
              <% else %>
                <%= link_to (image_tag 'noimage.gif'), theme, data={"no-turbolink" => true ,id: "top-theme"} %>
              <% end %>
            <% else %>
              <% if theme.image? %>
                <%= image_tag theme.image.url(:theme_thumb) %>
              <% else %>
                <%= image_tag 'noimage.gif' %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="col-md-9">
          <%= simple_format(theme.body_text) %>
        </div>
      </div>
    </div>
  </div>
</div>
