<div class="panel panel-default">
  <div class="panel-header">
    <h4 class=""><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Theme / テーマ</h4>
  </div>
  <div class="panel-body-theme">
    <h3><%= @theme.title %></h3>
    <div class="theme-image-disc">
      <% if @theme.image? %>
        <%= image_tag @theme.image.url(:theme_thumb) %>
      <% else %>
        <%= image_tag 'noimage.gif' %>
      <% end %>
    </div>
    <p>
      <%= @theme.body %>
    </p>
    <span class="glyphicon glyphicon-user"></span> <%= @theme.joins.count %>
    <span class="glyphicon glyphicon-comment"></span> <%= @theme.entries.count %>

  </div>
</div>
