<div class="panel panel-default">
  <div class="panel-heading"><%= link_to theme.title, theme, data={"no-turbolink" => true} %></div>
  <div class="panel-body">
    <!-- パーシャル使えないか -->
    <div class="theme-image">
      <% if theme.image? %>
        <%= image_tag theme.image.user_thumb.url %>
      <% else %>
        <%= image_tag 'noimage.gif' %>
      <% end %>
      <%= theme.color %>
      <%= theme.body %>
    </div>
  </div>
</div>
