<div class="panel panel-default entry-panel">
  <div class="panel-header">
    <h4 class=""><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> <%= t('themes.post_title') %></h4>
  </div>

  <div class="panel-body"　id="entry_top_form">
    <% if current_user.admin? || current_user.facilitator? %>
      <ul class="nav nav-pills nav-collagree margin-bottom" role="tablist">
        <li class="active"><a href="#facilitation" role="tab" data-toggle="tab"><%= t('themes.facilitation') %></a></li>
        <li><a href="#post" role="tab" data-toggle="tab"><%= t('themes.post') %></a></li>
      </ul>
    <% end %>

    <!-- Tab panes -->
    <div class="tab-content post-content">
      <% if current_user.admin? || current_user.facilitator? %>
        <div class="tab-pane facilitation-tab active" id="facilitation">
          <%= render 'facilitation_form' %>
        </div>
        <div class="tab-pane" id="post">
          <%= render 'entry_form' %>
        </div>
        <% else %>
        <div class="tab-pane active" id="post">
          <%= render 'entry_form' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
