

  <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
  <div id="dialog" title="Opinion dialog">
  </div>


  <style type="text/css">


.modal_close {
  position: absolute;
  top: 12px;
  right: 12px;
  display: block;
  /* widthとheightは閉じるボタンの画像の幅を指定 */
  width: 28px;
  height: 28px;
  /* 閉じるボタンの画像は自分で用意 */
/*  background: url('../images/close-popup.png') no-repeat;*/
  z-index: 2;
}
      #dialog {
        padding-left: 120px
      }
        .node {
        cursor: pointer;
      }

      .overlay{
          background-color:#f7fbff;
      }
       
      .node circle {
        fill: #fff;
        stroke: steelblue;
        stroke-width: 1.5px;
      }
       
      .node text {
        font-size:13px; 
        font-family:sans-serif;
      }
       
      .link {
        fill: none;
        stroke-width: 1.5px;
      }

      .templink {
        fill: none;
        stroke: red;
        stroke-width: 3px;
      }

      .ghostCircle.show{
          display:block;
      }

      .ghostCircle, .activeDrag .ghostCircle{
           display: none;
      }

    </style>




    <script type = "text/javascript"> 

      // 表示されたときに議論議論ツリーを表示する
      $('#panel-tree').on('inview', function(event, isInView, visiblePartX, visiblePartY) {
        if (isInView) {  
          if ($(".node").size()==0){
              　//ここでtreeJSONを呼び出して生成する
              　var ent = <%= raw entries.to_json %>
                console.log(ent)
                var dataAll = <%= raw entryAll.to_json %>
                var youyakuData = <%= raw youyaku.to_json %>
                var claster = <%= raw claster.to_json %>
                var fas = <%= raw fas.to_json %>
                var user = <%= raw user.to_json %>
                var title = <%= raw theme.title.to_json %>
                var treeData = createTreeData(dataAll , title , youyakuData , claster)

                treeJSON("", treeData );

                console.log(user)
                //ここでtreeに入った人のlogを残していく
                $.ajax({
                  url: "tree/change_session_year",
                  type: "POST",
                  data: {user_id : user,
                          theme: dataAll[0]["theme_id"],
                          },
                  dataType: "html",
                  success: function(data) {
                    console.log("s")
                    console.log(data)
                    console.log(user)
                  },
                  error: function(data) {
                    console.log("e")
                    console.log(data)
                  }
               });

            }     
        }


      });

      //ダイアログ
      $(function() {
        $( "#dialog" ).dialog({
          autoOpen: false,
          minWidth: 800,
          minHeight:400,
          modal: true,
          buttons: {
            CLOSE: function() {
              $( this ).dialog( "close" );
            }
          }
        });
        

        $( "#opener" ).click(function() {
          $( "#dialog" ).dialog( "open" );
        });
      });


      function show_dialog(message,id,nid){
        // idが親のid
        // nidが自分のid

        console.log("testダイアログ")
            var yText = ""
            var youyaku_thread = <%= raw youyaku_thread.to_json %>
            console.log(youyaku_thread)

        $("#dialog").empty();

        var target = "#" + "entry-" + id;
        var target2 = '#reply-modal-' + nid;
        $(target).find('#childID_'+nid).css('background-color','orange');
        //いいねボタンの作成
        var newbutton = $(target).find('#childID_'+nid).find(".actions")
        $(newbutton).find("a[href *= 'reply-modal']").remove()
        $(target2).find("div.info-list").append(newbutton);


        // $(target2).find("a[href *= ‘post’]").remove();
        $(target2).find("#slider-"+nid).children().remove();
        $(target2).find("a[href *= '#post']").remove();
        $(target2).find("a[href *= '#facili']").remove();
        // console.log(target)
        // console.log($(target).html());
        // console.log(nid)


        $( "#dialog" ).append('<br>');
        $( "#dialog" ).append($(target2).html());
        $( "#dialog" ).append('<br><div id="parent-thread"><button class="btn btn-default" name="commit" type="submit" value="投稿">スレッド一覧表示</button></div>');
        //要約記事作成
        var yText = ""
        var youyaku_thread = <%= raw youyaku_thread.to_json %>
        console.log(youyaku_thread)
        parent = 0
        for (i = 0; i < youyaku_thread.length; i++) {
          if (youyaku_thread[i]["parent_id"] == id){
            if (parent == 0){
              $( "#dialog" ).append('<br><span class="entry-title">スレッド要約</span>');
            }
            if (parent !=  youyaku_thread[i]["target_id"] && parent != 0 ){
              yText = yText + "<br>"
              parent = youyaku_thread[i]["target_id"] 
            }
            console.log(parent = youyaku_thread[i]["target_id"] )
            console.log(youyaku_thread[i]["body"])
            yText = yText + youyaku_thread[i]["body"]
          }
        }
        var content = '<div id = "youyakuT">'+yText+'</div>'
        $( "#dialog" ).append(content);
        //スレッド要約ここまで

        $("#dialog #parent-thread").click(function(){
            var target = "#" + "entry-" + id;
            $(target).find("a[href *= 'reply-modal']").remove()
            $( "#dialog" ).append("<hr>")
            $( "#dialog" ).append($(target).html());
            $( "#parent-thread").empty();
        } );

        $("#dialog").dialog("open");

        //これでスライダーの調節のイベントを設定する
        slider.set();

        $(".btn btn-default").click(function(){
        } );

      }


    </script>


