<div class="panel panel-default">
  <div class="panel-header">
    <h4 class=""><span class="glyphicon glyphicon-tower" aria-hidden="true"></span> <%= t('themes.overall_point_ranking') %></h4>
  </div>
  <div class="panel-body">
    <table class="table table-striped ranking-table">
      <thead>
        <tr>
          <th><%= t('themes.ranking') %></th>
          <th><%= t('themes.user') %></th>
          <th><%= t('themes.point') %></th>
        </tr>
      </thead>
      <tbody>
        <% @user_ranking.each_with_index do |user, idx| %>
          <tr>
            <td class="rank rank-<%= user.rank(@theme) %>" id=""><%= user.rank(@theme) %></td>
            <td class="rank-image">
              <% if params[:locale] != 'en' %>
              <%= link_to (image_tag user_icon_path(user),
                           class: 'user-icon img-circle set-popover',
                           data: {
                             toggle: "popover",
                             placement: "right",
                             content: user.name.to_s + '｜' + t('themes.post') + ' ' + user.entries.count.to_s + ' / Like ' + user.likes.status_on.count.to_s + t('themes.count')
                           }
                           ), '/users/' + user.id.to_s %>　<%= user.name %>
              <% else %>
              <%= link_to (image_tag user_icon_path(user),
                           class: 'user-icon img-circle set-popover',
                           data: {
                             toggle: "popover",
                             placement: "right",
                             content: user.name.to_s + '｜' + t('themes.post') + ' ' + user.entries.count.to_s + ' / Like ' + user.likes.status_on.count.to_s + t('themes.count')
                           }
                           ), '/users/' + user.id.to_s + '?locale=en'%>　<%= user.name %>
              <% end %>
            </td>
            <td class="rank-score">
              <span class="user-score"><%= user.score(theme) %></span>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
