<div class="panel panel-default">
  <div class="panel-body">
    <h3>獲得ポイントランキング</h3>
    <table class="table table-striped ranking-table">
      <thead>
        <tr>
          <th>順位</th>
          <th>ユーザー</th>
          <th>ポイント</th>
        </tr>
      </thead>
      <tbody>
        <% @user_ranking.each_with_index do |user, idx| %>
          <tr>
            <td class="rank rank-<%= user.rank(@theme) %>" id=""><%= user.rank(@theme) %></td>
            <td class="rank-image">
              <%= link_to (image_tag user_icon_path(user),
                           class: 'user-icon img-circle set-popover',
                           data: {
                             toggle: "popover",
                             placement: "right",
                             content: user.name.to_s + '｜投稿 ' + user.entries.count.to_s + '件 / Like ' + user.likes.count.to_s + '件'
                           }
                           ), '/users/' + user.id.to_s %>　<%= user.name %>
            </td>
            <td class="rank-score">
              <span class="user-score"><%= user.score(theme) %></span>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
