<div class="panel panel-default">
  <div class="panel-header">
    <h4 class=
        ""><span class="glyphicon glyphicon-tower" aria-hidden="true"></span> Ranking / 投稿数ランキング</h4>
  </div>
  <div class="panel-body">
    <table class="table table-striped ranking-table">
      <thead>
        <tr>
          <th>順位</th>
          <th>ユーザー</th>
          <th>投稿件数</th>
        </tr>
      </thead>
      <tbody>
        <% users.each_with_index do |user, idx| %>
          <tr>
            <td class="rank rank-<%= idx + 1%>" id=""><%= idx + 1 %></td>
            <td class="rank-image">
              <%= link_to (image_tag user_icon_path(user),
                           class: 'user-icon img-circle set-popover',
                           data: {
                             toggle: "popover",
                             placement: "right",
                             content: user.name.to_s + '｜投稿 ' + user.entries.count.to_s + '件 / Like ' + user.likes.status_on.count.to_s + '件'
                           }
                           ), '/users/' + user.id.to_s %>　<%= user.name %>
            </td>
            <td class="rank-score">
              <span class="user-score">
                <%= user.entries.where(theme_id: theme, facilitation: false).count %>
              </span>
              件</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
