<div class="panel panel-default">
    

    <div class="panel-header" >
        <h4 class=""><span class="glyphicon glyphicon-tower" aria-hidden="true" id="panel-tree"></span> 議論ツリー</h4>
    </div>

    <div class="panel-body" id="tree-windw">


        <div id="main">
            <div class="demo chart-demo" id="chart-demo">
            </div>
            <div id="dialog_connect" title="結合ダイアログ"></div>
            <div id="dialog_thred" title="スレッドダイアログ"></div>
        </div>




        <script type = "text/javascript">

            //ノードのダイアログでの移動の処理
            function JumpNode (id){
                console.log("JUMP")
            }

            var childBack = function(){

                return   <%= raw entryAll.to_json %>
            }

            var jsonBack = function() {
                var json = <%= raw entries.to_json %>
                return json
            }

            var titleBack = function() {
                return <%= raw theme.title.to_json %>
            }

            //$(document).ready(onReady)
            $('#panel-tree').on('inview', function(event, isInView, visiblePartX, visiblePartY) {
            if (isInView) {
                 onReady();
            } else {
                // //要素が見えなくなったときに実行する処理
                // //すべての要素を削除
                // $(".window").remove();
                // //すべての点の削除
                // deleteConectPoint();
            }
    });


        </script>
               <!--  <% @entries.each_with_index do |entry, i| %>
                    <div class="window" id="chartWindow"> <%= entry.title %></div>
                    <!-- 作ったらid用にカウントを１つずつ増やしていく
                  
                   <!--  <% entry.issues.each do |issue| %>
                      <%= puts "エントリーの中身#{issue.name}" %>
                    <% end %>

                    <% entry.thread_entries.each do |child| %>
                      <%= puts "子供の人#{child.user.name}" %>
                      <%= puts "子供のタイトル#{child.title}" %>
                      <%= puts "子供の中身#{child.body}" %>
                    <% end %>


                <% end %>
            </div> --> 

            <link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/ui-lightness/jquery-ui.css" rel="stylesheet" />
    </div> 


</div>