<div class="panel panel-default">
  <div class="panel-header">
    <h4 class=""><span class="glyphicon glyphicon-tower" aria-hidden="true"></span> 第3部ポイントランキング</h4>
  </div>
  <div class="panel-body">
    <table class="table table-striped ranking-table">
      <thead>
        <tr>
          <th>順位</th>
          <th>ユーザー</th>
          <th>ポイント</th>
        </tr>
      </thead>
      <tbody>
        <% @user_ranking_before_0130.each_with_index do |user, idx| %>
          <tr>
            <td class="rank rank-<%= user.rank_before_0130(@theme) %>" id=""><%= user.rank_before_0130(@theme) %></td>
            <td class="rank-image">
              <%= link_to (image_tag user_icon_path(user),
                           class: 'user-icon img-circle set-popover',
                           data: {
                             toggle: "popover",
                             placement: "right",
                             content: user.name.to_s + '｜投稿 ' + user.entries.count.to_s + '件 / Like ' + user.likes.status_on.count.to_s + '件'
                           }
                           ), '/users/' + user.id.to_s %>　<%= user.name %>
            </td>
            <td class="rank-score">
              <span class="user-score"><%= user.score_before_0130(theme) %></span>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
