<div class="hero-image">
  <div class="smoke">
    <div class="row" style="padding-top: 50px;">
      <div class="col-md-8 col-md-offset-2 hero-content">
        <h1><%= t('themes.main_title_html') %></h1>
      </div>
      <% unless user_signed_in? %>
        <div class="col-md-6 col-md-offset-3 hero-login">
          <%= link_to new_user_session_path do %>
            <span class="btn btn-default"><%= t('themes.login') %></span>
          <% end %>
          <%= link_to new_user_registration_path do %>
            <span class="btn btn-default"><%= t('themes.signup') %></span>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% if user_signed_in? %>
  <div class="page-header">
    <h1>Theme<small><%= t('themes.theme_cap') %></small></h1>
    <%= link_to t('themes.add_theme'), new_theme_path, { class: 'btn btn-default', id: 'theme_create_btn'} if (user_admin?(current_user) || user_organizer?(current_user)) %>
    <%= link_to t('themes.edit_theme'), users_path, { class: 'btn btn-default', id: 'theme_create_btn'} if current_user.admin? || current_user.organizer? %>
  </div>
<% end %>

<% if user_signed_in? %>
  <% @themes.each do |theme| %>
    <% if theme.group_id? && current_user.home? %>
      <% if theme.group_id.to_s == current_user.home.to_s || current_user.admin? %>
        <%= render 'theme', theme: theme %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
