<div class="row">
  <div class="col-md-12">
    <div id="top-loading">
      <%= image_tag 'theme/icon-loading.gif' %>
    </div>

    <div id="timeline">
      <% @entries.each_with_index do |entry, i| %>
        <%= render 'panel', entry: entry %>
      <% end %>
    </div>

    <div id="icon-loading">
      <%= image_tag 'theme/icon-loading.gif' %>
    </div>

    <div id="next"><%= link_to_next_page @entries, '次へ', :remote => true, :id => 'next_link'  %></div>
  </div>
</div>
<%= stylesheet_link_tag 'only_timeline.css' %>
