<!-- user_admin?メッソドがへルパーメッソドのコントローラーにある　 -->
<!-- roleが０だとmodelのuseをみるとemnuでをadminになるようになっている！！　だからroleが０だとtrueで以下が表示される -->
<% if user_admin?(current_user) %>

  <div class="btn-group btn-group-justified" role="group" aria-label="">

    <% if I18n.default_locale == :ja  %>
      <div class="btn-group" role="group">
        <%= link_to '/themes/' + @theme.id.to_s + '/update_phase'+'/1' , method: :post, data: { confirm: t('themes.switch_divergence') } do %>
          <button type="button" class="btn btn-default"><%= t('themes.divergence') %></button>
        <% end %>
      </div>

      <div class="btn-group" role="group">
        <%= link_to '/themes/' + @theme.id.to_s + '/update_phase'+'/2', method: :post, data: { confirm: t('themes.switch_convergence') } do %>
          <button type="button" class="btn btn-default"><%= t('themes.convergence') %></button>
        <% end %>
      </div>

      <div class="btn-group" role="group">
        <%= link_to '/themes/' + @theme.id.to_s + '/update_phase'+'/3', method: :post, data: { confirm: t('themes.switch_consensus') } do %>
          <button type="button" class="btn btn-default"><%= t('themes.consensus') %></button>
        <% end %>
      </div>
    <% elsif I18n.default_locale == :en  %>
      <div class="btn-group" role="group">
        <%= link_to '/themes/' + @theme.id.to_s + '/update_phase'+'/1?locale=en' , method: :post, data: { confirm: t('themes.switch_divergence') } do %>
          <button type="button" class="btn btn-default"><%= t('themes.divergence') %></button>
        <% end %>
      </div>

      <div class="btn-group" role="group">
        <%= link_to '/themes/' + @theme.id.to_s + '/update_phase'+'/2?locale=en', method: :post, data: { confirm: t('themes.switch_convergence') } do %>
          <button type="button" class="btn btn-default"><%= t('themes.convergence') %></button>
        <% end %>
      </div>

      <div class="btn-group" role="group">
        <%= link_to '/themes/' + @theme.id.to_s + '/update_phase'+'/3?locale=en', method: :post, data: { confirm: t('themes.switch_consensus') } do %>
          <button type="button" class="btn btn-default"><%= t('themes.consensus') %></button>
        <% end %>
      </div>
    <% end %>
  </div>
  <br />
<% end %>

<%= render "themes/discussion_phase" %>

<div class="modal wd1">
  <div class="modalBody">
    <p class="close">×</p>
    <p>
      <%= image_tag "phase/phase-modal-01.png",class: "img-responsive" %>
    </p>
  </div>
  <div class="modalBK"></div>
</div>
<div class="modal wd2">
  <div class="modalBody">
    <p class="close">×</p>
    <p>
      <%= image_tag "phase/phase-modal-02.png",class: "img-responsive" %>
    </p>
  </div>
  <div class="modalBK"></div>
</div>
<div class="modal wd3">
  <div class="modalBody">
    <p class="close">×</p>
    <p>
      <%= image_tag "phase/phase-modal-03.png",class: "img-responsive" %>
    </p>
  </div>
  <div class="modalBK"></div>
</div>



<!-- roleは役割を表す -->
<ul class="nav nav-pills nav-collagree" role="tablist">
  <li class="active"><a href="#discussion" role="tab" data-toggle="tab" id="discussion-nav-btn"><%= t('themes.debate') %></a></li>
  <li><a href="#infomation" role="tab" data-toggle="tab"><%= t('themes.ranking') %></a></li>
  <li><a href="#tree" role="tab" data-toggle="tab" action="signed_in" id="tree-nav-btn"><%= t('themes.debate_tree') %></a></li>
<!--   <% if current_user.admin? || current_user.facilitator? %>
    <li><%= link_to t('themes.debate_tree_edit'), thread_classes_all_path(@theme.id) %></li>
  <% end %> -->
  <% if user_signed_in? %>
    <% if smartphone? %>
      <li><a href="#get-point" role="tab" data-toggle="tab"><%= t('themes.point_acquired') %></a></li>
    <% end %>
  <% end %>
</ul>

<!-- Tab panes -->
<div class="tab-content" id="theme-show">
  <div class="tab-pane active" id="discussion">

    <div class="row">
      <div class="col-md-8">

        <% if !@theme.nolink %>
          <div id="main-form">
            <%= render 'top_form' if user_signed_in? %>
          </div>
          <hr>
        <% end %>


        <% if false %>
<!--         <div id="main-form">
          <%= render 'groundrule' %>
        </div>
        <hr> -->
        <% end %>


        <div class="well" id="entry_notice">
          <span><%= t('themes.newpost_ga') %></span><span id="entry_notice_count">0</span><%= t('themes.count_arimasu') %>
        </div>

        <!-- 検索するビュー -->
<!--         <% if false %>
          <div class="well" id="tl-tool">
            <%= render 'search_form'  %>
          </div>
        <% end %> -->

        <div id="top-loading">
          <%= image_tag 'theme/icon-loading.gif' %>
        </div>

        <!-- それぞれの記事を表示するビュー -->
        <div id="timeline">
          <% @entries.each_with_index do |entry, i| %>
            <%= render 'panel', entry: entry, count_entry: i ,show_entry: 2%>
          <% end %>
        </div>

        <div id="icon-loading">
          <%= image_tag 'theme/icon-loading.gif' %>
        </div>


      </div>

      <div class="col-md-4">
        <% if @tree_type == 3 %>
          <%= render 'vote_ranking', users: @users, theme: @theme %>
        <% end %>
        <%= render 'theme_info' %>
        <%= render 'like_ranking', users: @users, theme: @theme %>
        <%= render 'point', user: current_user, theme: @theme, point_list: @point_list if user_signed_in? %>
        <%= render 'user_ranking', users: @users, theme: @theme %>
        <%#= render 'activity' if user_signed_in? %>
        <!-- 議題 -->
        <%# if smartphone? %>
          <%#= render 'facilitation_keywords_mobile' %>
        <%# else %>
          <%#= render 'facilitation_keywords' %>
        <%# end %>
        <!-- キーワード -->
        <% if smartphone? %>
          <%= render 'keywords_mobile' %>
        <% else %>
          <%= render 'keywords' %>
        <% end %>
        <%#= render 'other_themes' %>
        <%= render 'users' %>
        <%= render 'tags' if user_signed_in? && !current_user.normal? %>
      </div>
    </div>


  </div>

  <!-- ランキンングについて -->
  <div class="tab-pane" id="infomation">
    <div class="row">
      <div class="col-md-6">
        <%= render 'user_ranking', users: @users, theme: @theme %>
      </div>
      <div class="col-md-6">
        <%= render 'user_ranking_entry', users: @users_entry, theme: @theme %>
      </div>
    </div>
  </div>

  
  <!-- 議論ツリーについて -->
  <div class="tab-pane" id="tree">
    <div class="row">
      <div class="col-md-12">
        <%= render 'user_tree' ,action: :"signed_in", theme: @theme , entries: @entries , entryAll: @entry_tree,youyaku: @youyaku ,type: @tree_type ,claster: @themes_claster ,fas: @facilitator,user: @user_id, youyaku_thread: @youyaku_thread, classes: @classes %>
      </div>
    </div>
  </div>


  <% if user_signed_in? %>
    <% unless smartphone? %>
      <div class="tab-pane" id="point_graph">
        <div class="row">
          <div class="col-md-6" id="user_point_graph">
          </div>
        </div>
      </div>
    <% else %>
      <div class="tab-pane" id="get-point">
        <div class="row">
          <div class="col-md-6">
            <%= render 'point', user: current_user, theme: @theme, point_list: @point_list if user_signed_in? %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

</div>

<% if !smartphone? %>
  <!--議論ツリーへ移動するボタン-->
  <div id="page-top" class="page-top">
    <p><a href="#tree" id="move-page-top" class="move-page-top" role="tab" data-toggle="tab" action="signed_in"><%= t('themes.debate_tree') %></a></p>
  </div>
<% end %>

<%= render 'render_c3' %>

<%= javascript_include_tag 'pnotify.custom.min.js', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag 'mobile.css' if smartphone? %>


<script>
  // 議論ツリー移動ボタンよう
  // グローバル変数
  var syncerTimeout = null ;
  // 一連の処理
  $( function(){
    // スクロールイベントの設定
    $( window ).scroll( function()
    {
      // 1秒ごとに処理
      if( syncerTimeout == null )
      {
        // セットタイムアウトを設定
        syncerTimeout = setTimeout( function(){

          // 対象のエレメント
          var element = $( '#page-top' ) ;
          // 現在、表示されているか？
          var visible = element.is( ':visible' ) ;
          // 最上部から現在位置までの距離を取得して、変数[now]に格納
          var now = $( window ).scrollTop() ;
          // 最下部から現在位置までの距離を計算して、変数[under]に格納
          var under = $( 'body' ).height() - ( now + $(window).height() ) ;
          // 最上部から現在位置までの距離(now)が1500以上かつ
          // 最下部から現在位置までの距離(under)が200px以上かつ…
          if( now > 1200 )
          {
            // 非表示状態だったら
            if( !visible )
            {
              // [#page-top]をゆっくりフェードインする
              element.fadeIn( 'slow' ) ;
            }
          }
          // 1500px以下かつ
          // 表示状態だったら
          else if( visible )
          {
            // [#page-top]をゆっくりフェードアウトする
            element.fadeOut( 'slow' ) ;
          }
          // フラグを削除
          syncerTimeout = null ;
        } , 1000 ) ;
      }
    } ) ;

    // クリックイベントを設定する
    $( '#move-page-top' ).click(
        function()
        {
          // スムーズにスクロールする
          $( 'html,body' ).animate( {scrollTop:0} , 'slow' ) ;
          $("#tree-nav-btn").parents('li').addClass("active");
          $("#discussion-nav-btn").parents('li').removeClass("active");
        }
    ) ;

    $('[id^=entry-top-hidden]')
    // マウスポインターが画像に乗った時の動作
    .mouseover(function(e) {
        $(this).css('opacity','0.5');
        // $(this).css('background','#e1e8ed');
        $(this).css('cursor','pointer');
    })
    // マウスポインターが画像から外れた時の動作
    .mouseout(function(e) {
      $(this).css('opacity','1');
        // $(this).css('background','white');
        $(this).css('cursor','default');
    });

    $('[id^=entry-top-hidden]').click(function(){
      $("#child-entry-hidden"+$(this).attr('entry-id')).show();
      $('#entry-child-count'+$(this).attr('entry-id')).remove();
      $('#entry-top-hidden'+$(this).attr('entry-id')).unbind();
      $(this).css('opacity','1');
      $(this).css('cursor','default');
    });

    $('[id^=child-entry-hidden]').hide();

  });

  $(window).bind("beforeunload", function() {

    var user = <%= raw current_user.id.to_json %>;
    var theme = <%= raw @theme.id.to_json %>;

    $.ajax({
      url: "tree/change_session_year",
      type: "POST",
      data: {user_id : user,
        theme: theme,
        flag: true,
      },
      dataType: "html",
      success: function(data) {
      },
      error: function(data) {
        console.log(data);
      }
    });
  });

  //フェーズの表示
  var core_times = <%= raw @theme.core_times_check.to_json %>

  if ("now" in core_times) {
    for (var i = 0; i < core_times["now"].length; i++){
      dt = new Date(core_times["now"][i]["start_at"]);
      var text1 = (dt.getMonth() + 1)+"/"+(dt.getDate())+" "+(dt.getHours())+":"+(dt.getMinutes()+"0");
      dt = new Date(core_times["now"][i]["end_at"]);
      var text2 = (dt.getHours())+":"+(dt.getMinutes()+"0");
      $('#core-time-content').append("<span style='margin-right:20px; font-size:22px; color: #f39800'>"+text1+" - "+text2+"</span>");
    }
    $('#header-time').show();
  }

  if ("yes" in core_times) {
    for (var i = 0; i < core_times["yes"].length; i++){
      dt = new Date(core_times["yes"][i]["start_at"]);
      var text1 = (dt.getMonth() + 1)+"/"+(dt.getDate())+" "+(dt.getHours())+":"+(dt.getMinutes()+"0");
      dt = new Date(core_times["yes"][i]["end_at"]);
      var text2 = (dt.getHours())+":"+(dt.getMinutes()+"0");
      $('#core-time-content').append("<span style='margin-right:20px; font-size:22px;'>"+text1+" - "+text2+"</span>");
    }
    $('#header-time').show();
  }

  // #で始まるアンカーをクリックした場合に処理
   $('a[href^=#entry]').click(function() {
      // スクロールの速度
      var speed = 500; // ミリ秒
      // アンカーの値取得
      var href= $(this).attr("href");
      // 移動先を取得
      var target = $(href == "#" || href == "" ? 'html' : href);
      // 移動先を数値で取得
      var position = target.offset().top - 30;
      // スムーススクロール
      $('body,html').animate({scrollTop:position}, speed, 'swing');
      return false;
   });

   // formの文字制限を促進させるjs
   $('textarea').bind('keydown keyup keypress change',function(){
      var thisValueLength = $(this).val().length;
      // $('.count').html(thisValueLength);
      if(thisValueLength > 200 && thisValueLength < 351 ){
        $(this).attr('id', 'form-change-color-green');
      }else if(thisValueLength > 350){
        $(this).attr('id', 'form-change-color-red');
      }else{
        $(this).attr('id', 'entry_body');
      }
    });

    if(<%= @theme.check_phase(current_user) %>){
      wn = '.wd' + <%= @tree_type %>;
      var mW = $(wn).find('.modalBody').innerWidth() / 2;
      var mH = $(wn).find('.modalBody').innerHeight() / 2;
      $(wn).find('.modalBody').css({'margin-left':-mW,'margin-top':-mH});
      $(wn).fadeIn(500);
    }

    $('.close,.modalBK').click(function(){
      $(wn).fadeOut(500);
    });

</script>

<script>
    modal.set();

</script>
