<div class="row">
  <div class="col-md-8">
    <div class="well">
    <%= render 'entry_form' %>
    </div>
    <hr />

    <% @entries.each do |entry| %>
      <div class="panel panel-default">
        <div class="panel-body">
          <%= render 'entry', entry: entry %>
          <hr />
          <%= render 'reply_form', e: entry %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-4">
    <%= render 'theme_info' %>
    <%= render 'activity' %>
    <%= render 'other_themes' %>
    <%= render 'users' %>
    <%= render 'tags' %>
  </div>
</div>
