<!-- user_admin?メッソドがへルパーメッソドのコントローラーにある　 -->
<!-- roleが０だとmodelのuseをみるとemnuでをadminになるようになっている！！　だからroleが０だとtrueで以下が表示される -->
<% if user_admin?(current_user) %>

  <div class="btn-group btn-group-justified" role="group" aria-label="">

    <div class="btn-group" role="group">
      <%= link_to '/themes/' + @theme.id.to_s + '/update_phase'+'/1' , method: :post, data: { confirm: "発散フェーズモードに切り替えてもよろしいですか？" } do %>
        <button type="button" class="btn btn-default">発散フェーズ</button>
      <% end %>
    </div>

    <div class="btn-group" role="group">
      <%= link_to '/themes/' + @theme.id.to_s + '/update_phase'+'/2', method: :post, data: { confirm: "収束フェーズモードに切り替えてもよろしいですか？" } do %>
        <button type="button" class="btn btn-default">収束フェーズ</button>
      <% end %>
    </div>

    <div class="btn-group" role="group">
      <%= link_to '/themes/' + @theme.id.to_s + '/update_phase'+'/3', method: :post, data: { confirm: "合意フェーズモードに切り替えてもよろしいですか？" } do %>
        <button type="button" class="btn btn-default">合意フェーズ</button>
      <% end %>
    </div>
  </div>
  <br />
<% end %>



<!-- roleは役割を表す -->
<ul class="nav nav-pills nav-collagree" role="tablist">
  <li class="active"><a href="#discussion" role="tab" data-toggle="tab">議論</a></li>
  <li><a href="#infomation" role="tab" data-toggle="tab">ランキング</a></li>
  <li><a href="#tree" role="tab" data-toggle="tab">議論ツリー</a></li>
  <% if user_signed_in? %>
    <% if smartphone? %>
      <li><a href="#get-point" role="tab" data-toggle="tab">獲得ポイント</a></li>
    <% end %>
  <% end %>
</ul>

<!-- Tab panes -->
<div class="tab-content" id="theme-show">
  <div class="tab-pane active" id="discussion">

    <div class="row">
      <div class="col-md-8">

        <!-- 投稿フォームについて -->
        <div id="main-form">
          <%= render 'top_form' if user_signed_in? %>
        </div>
        <hr />

        <div class="well" id="entry_notice">
          <span>新着投稿が</span><span id="entry_notice_count">0</span>件あります
        </div>

        <!-- 検索するとことのビュー -->
        <div class="well" id="tl-tool">
          <%= render 'search_form'  %>
        </div>

        <div id="top-loading">
          <%= image_tag 'theme/icon-loading.gif' %>
        </div>

        <!-- この部分がそれぞれの記事を表示するビューになる -->
        <div id="timeline">
          <% @entries.each_with_index do |entry, i| %>
            <%= render 'panel', entry: entry %>
          <% end %>
        </div>

        <div id="icon-loading">
          <%= image_tag 'theme/icon-loading.gif' %>
        </div>

         <div id="next" class="next_link_div"><%= link_to_next_page @entries, '次のページを表示', :remote => true, :id => 'next_link', :class=>'next_link_a_tag'  %></div>




      </div>

      <div class="col-md-4">
        <%= render 'theme_info' %>
        <%= render 'point', user: current_user, theme: @theme, point_list: @point_list if user_signed_in? %>
        <%= render 'user_ranking', users: @users, theme: @theme %>
        <%#= render 'activity' if user_signed_in? %>
        <!-- 議題 -->
        <% if smartphone? %>
          <%= render 'facilitation_keywords_mobile' %>
        <% else %>
          <%= render 'facilitation_keywords' %>
        <% end %>
        <!-- キーワード -->
        <% if smartphone? %>
          <%= render 'keywords_mobile' %>
        <% else %>
          <%= render 'keywords' %>
        <% end %>
        <%#= render 'other_themes' %>
        <%= render 'users' %>
        <%= render 'tags' if user_signed_in? && !current_user.normal? %>
      </div>
    </div>
  </div>

  <!-- ランキンングについて -->
  <div class="tab-pane" id="infomation">
    <div class="row">
      <div class="col-md-6">
        <%= render 'user_ranking', users: @users, theme: @theme %>
      </div>
      <div class="col-md-6">
        <%= render 'user_ranking_entry', users: @users_entry, theme: @theme %>
      </div>
    </div>
  </div>

  <!-- 議論ツリーについて -->
  <div class="tab-pane" id="tree">
    <div class="row">
      <div class="col-md-12">
        <%= render 'user_tree', entries: @entries, theme: @theme , entries: @entries , entryAll: @entry_tree,youyaku: @youyaku ,type: @tree_type ,claster: @themes_claster %>
      </div>
    </div>

  </div>

  <% if user_signed_in? %>
    <% unless smartphone? %>
      <div class="tab-pane" id="point_graph">
        <div class="row">
          <div class="col-md-6" id="user_point_graph">
          </div>
        </div>
      </div>
    <% else %>
      <div class="tab-pane" id="get-point">
        <div class="row">
          <div class="col-md-6">
            <%= render 'point', user: current_user, theme: @theme, point_list: @point_list if user_signed_in? %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

</div>


<!-- このjsは議論ツリーでノードから議論に移動するために記述 -->
  <script type = "text/javascript">
//     var id  = <%= raw @nodeId %>
//     if (id!=0){
//       id = id[0].substr(1)
//       id = '#entry-'+id
//       console.log(id)
//        $('html,body').animate({
//           scrollTop: $(id).offset().top}, {
//           duration: 400,
//           easing: "swing",
//           complete: function(){
//             //アニメーション後になにかしたいならここに書く
//           }
//         });
//   }
 </script>

<%= render 'render_c3' %>

<%= javascript_include_tag 'pnotify.custom.min.js', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag 'mobile.css' if smartphone? %>

<script>
  modal.set()
</script>
