<div id="header-time">
  <div class="panel panel-default">
    <div class="panel-header" style="background-color: #f39800;">
      <h4 class=""><span class="glyphicon glyphicon-time" aria-hidden="true"></span> Core Time / コアタイム<span style="font-size:14px">　期間中に投稿すると、獲得ポイントが2倍になります！</span></h4>
    </div>
    <div class="panel-body">
      <div class="time-content" style="margin:-10px 10px -5px" id = "core-time-content">
        <p style="color:black;" id="core-time-title"></p>
      </div>
    </div>
  </div>
</div>

<!-- user_admin?メッソドがへルパーメッソドのコントローラーにある　 -->
<!-- roleが０だとmodelのuseをみるとemnuでをadminになるようになっている！！　だからroleが０だとtrueで以下が表示される -->
<% if user_admin?(current_user) %>

  <div class="btn-group btn-group-justified" role="group" aria-label="">

    <% if I18n.default_locale == :ja  %>
      <div class="btn-group" role="group">
        <%= link_to '/themes/' + @theme.id.to_s + '/update_phase'+'/1' , method: :post, data: { confirm: t('themes.switch_divergence') } do %>
          <button type="button" class="btn btn-default"><%= t('themes.divergence') %></button>
        <% end %>
      </div>

      <div class="btn-group" role="group">
        <%= link_to '/themes/' + @theme.id.to_s + '/update_phase'+'/2', method: :post, data: { confirm: t('themes.switch_convergence') } do %>
          <button type="button" class="btn btn-default"><%= t('themes.convergence') %></button>
        <% end %>
      </div>

      <div class="btn-group" role="group">
        <%= link_to '/themes/' + @theme.id.to_s + '/update_phase'+'/3', method: :post, data: { confirm: t('themes.switch_consensus') } do %>
          <button type="button" class="btn btn-default"><%= t('themes.consensus') %></button>
        <% end %>
      </div>
    <% elsif I18n.default_locale == :en  %>
      <div class="btn-group" role="group">
        <%= link_to '/themes/' + @theme.id.to_s + '/update_phase'+'/1?locale=en' , method: :post, data: { confirm: t('themes.switch_divergence') } do %>
          <button type="button" class="btn btn-default"><%= t('themes.divergence') %></button>
        <% end %>
      </div>

      <div class="btn-group" role="group">
        <%= link_to '/themes/' + @theme.id.to_s + '/update_phase'+'/2?locale=en', method: :post, data: { confirm: t('themes.switch_convergence') } do %>
          <button type="button" class="btn btn-default"><%= t('themes.convergence') %></button>
        <% end %>
      </div>

      <div class="btn-group" role="group">
        <%= link_to '/themes/' + @theme.id.to_s + '/update_phase'+'/3?locale=en', method: :post, data: { confirm: t('themes.switch_consensus') } do %>
          <button type="button" class="btn btn-default"><%= t('themes.consensus') %></button>
        <% end %>
      </div>
    <% end %>
  </div>
  <br />
<% end %>


<!-- 議論フェーズの画像を表示 -->
<%= render "themes/discussion_phase" %>


<!-- フェーズモーダル -->
<div class="modal wd1">
  <div class="modalBody">
    <p class="close">×</p>
    <p>
      <%= image_tag "phase/phase-modal-01.png",class: "img-responsive" %>
    </p>
  </div>
  <div class="modalBK"></div>
</div>
<div class="modal wd2">
  <div class="modalBody">
    <p class="close">×</p>
    <p>
      <%= image_tag "phase/phase-modal-02.png",class: "img-responsive" %>
    </p>
  </div>
  <div class="modalBK"></div>
</div>
<div class="modal wd3">
  <div class="modalBody">
    <p class="close">×</p>
    <div>
      <%= image_tag "phase/phase-modal-03.png",class: "img-responsive" %>
    </div>
  </div>
  <div class="modalBK"></div>
</div>
<!-- フェーズモーダル -->


<!-- タブの表示 -->
<ul class="nav nav-pills nav-collagree" role="tablist">

  <li class="active tab-click"><%= link_to t('themes.debate') , theme_path(@theme.id) %></li>

  <% if user_signed_in? %>
    <% if smartphone? %>
      <li><a href="#theme" role="tab" data-toggle="tab" action="signed_in" id="tree-nav-btn">テーマ</a></li>
    <% end %>
  <% end %>

  <li class="tab-click"><%= link_to t('themes.ranking') , theme_point_path(@theme.id) %></li>

  <% if !smartphone? %>
    <li class="tab-click"><%= link_to t('themes.debate_tree') , theme_tree_path(@theme.id) %></li>
  <% end %>

<!--   <% if current_user.admin? || current_user.facilitator? %>
    <li><%= link_to t('themes.debate_tree_edit'), thread_classes_all_path(@theme.id) %></li>
  <% end %> -->

</ul>
<!-- タブの表示 -->


<!-- Tab panes -->
<div class="tab-content" id="theme-show">
  <div class="tab-pane active" id="discussion">

    <div class="row">
      <div class="col-md-8">

        <% if smartphone? %>
          <% if @tree_type == 3 %>
            <%= render 'vote_ranking', users: @users, theme: @theme %>
          <% elsif @tree_type == 2 %>
            <%= render 'like_ranking', users: @users, theme: @theme %>
          <% end %>
        <% end %>

        <% if !@theme.nolink %>
          <div id="main-form">
            <%= render 'top_form' if user_signed_in? %>
          </div>
          <hr>
        <% end %>


        <% if false %>
<!--         <div id="main-form">
          <%= render 'groundrule' %>
        </div>
        <hr> -->
        <% end %>


        <div class="well" id="entry_notice">
          <span><%= t('themes.newpost_ga') %></span><span id="entry_notice_count">0</span><%= t('themes.count_arimasu') %>
        </div>

        <!-- 検索するビュー -->
        <% if @theme.issues.count != 0 %>
          <div class="well" id="tl-tool">
            <%= render 'search_form'  %>
          </div>
        <% end %>

        <div id="top-loading">
          <%= image_tag 'theme/icon-loading.gif' %>
        </div>

        <!-- それぞれの記事を表示するビュー -->
        <%= paginate @entries %>
        <div id="timeline">
          <% @entries.each_with_index do |entry| %>
            <%= render "panel_new" , entry: entry%>
          <% end %>
        </div>
        <%= paginate @entries %>


        <div id="icon-loading">
          <%= image_tag 'theme/icon-loading.gif' %>
        </div>

      </div>


      <div class="col-md-4">
        <% if !smartphone? %>
          <% if @tree_type == 3 %>
            <%= render 'vote_ranking', users: @users, theme: @theme %>
            <%= render 'like_ranking', users: @users, theme: @theme %>
          <% elsif @tree_type == 2 %>
            <%= render 'like_ranking', users: @users, theme: @theme %>
          <% end %>
        <% end %>


        <%#= render 'activity' if user_signed_in? %>
        <!-- 議題 -->
        <%# if smartphone? %>
          <%#= render 'facilitation_keywords_mobile' %>
        <%# else %>
          <%#= render 'facilitation_keywords' %>
        <%# end %>
        <!-- キーワード -->
        <% if !smartphone? %>
          <%= render 'theme_info' %>
          <%= render 'point', user: current_user, theme: @theme, point_list: @point_list if user_signed_in? %>
          <%= render 'user_ranking', users: @users, theme: @theme %>
          <%= render 'keywords' %>
          <%#= render 'other_themes' %>
          <!-- ユーザのアイコン -->
          <div class="panel panel-default" id="panel-users-show" theme-id="<%= @theme.id %>">
            <div class="panel-header">
              <h4 class=""><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%= t('themes.user_title') %></h4>
            </div>
          </div>
          <!-- ユーザのアイコン -->
          <%= render 'tags' if user_signed_in? && !current_user.normal? %>
        <% end %>
      </div>
    </div>


  </div>


  <!-- テーマについて -->
  <% if smartphone? %>
    <div class="tab-pane" id="theme">
      <div class="row">
        <div class="col-md-12">
          <%= render 'theme_info' %>
          <%= render 'keywords' %>
          <!-- ユーザのアイコン -->
          <div class="panel panel-default" id="panel-users-show" theme-id="<%= @theme.id %>">
            <div class="panel-header">
              <h4 class=""><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%= t('themes.user_title') %></h4>
            </div>
          </div>
          <!-- ユーザのアイコン -->
          <%= render 'tags' if user_signed_in? && !current_user.normal? %>
        </div>
      </div>
    </div>
  <% end %>


  <% if user_signed_in? %>
    <% unless smartphone? %>
      <div class="tab-pane" id="point_graph">
        <div class="row">
          <div class="col-md-6" id="user_point_graph">
          </div>
        </div>
      </div>
    <% else %>
      <div class="tab-pane" id="get-point">
        <div class="row">
          <div class="col-md-6">
            <%= render 'point', user: current_user, theme: @theme, point_list: @point_list if user_signed_in? %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

</div>

<% if !smartphone? %>
  <!--議論ツリーへ移動するボタン-->
  <div id="page-top" class="page-top">
    <p><a href="#tree" id="move-page-top" class="move-page-top" role="tab" data-toggle="tab" action="signed_in"><%= t('themes.debate_tree') %></a></p>
  </div>
<% end %>

<%= render 'render_c3' %>

<%= javascript_include_tag 'pnotify.custom.min.js', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'theme_custom.js', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag 'mobile.css' if smartphone? %>


<script>
  //フェーズの表示
var core_times = <%= raw @theme.core_times_check.to_json %>
var weekDayList = [ "㊐", "㊊", "㊋", "㊌", "㊍", "㊎", "㊏" ] ;

if ("now" in core_times) {
  for (var i = 0; i < core_times["now"].length; i++){
    dt = new Date(core_times["now"][i]["start_at"]);
    var text1 = (dt.getMonth() + 1)+"/"+(dt.getDate())+weekDayList[dt.getDay()]+" "+(dt.getHours())+":"+(dt.getMinutes()+"0");
    dt = new Date(core_times["now"][i]["end_at"]);
    var text2 = (dt.getHours())+":"+(dt.getMinutes()+"0");
    $('#core-time-content').append("<span style='margin-right:20px; font-size:26px; color: #f39800;font-weight: bold;'>"+text1+" - "+text2+"</span>");
  }
  $('#header-time').show();
}

if ("yes" in core_times) {
  for (var i = 0; i < core_times["yes"].length; i++){
    dt = new Date(core_times["yes"][i]["start_at"]);
    var text1 = (dt.getMonth() + 1)+"/"+(dt.getDate())+weekDayList[dt.getDay()]+" "+(dt.getHours())+":"+(dt.getMinutes()+"0");
    dt = new Date(core_times["yes"][i]["end_at"]);
    var text2 = (dt.getHours())+":"+(dt.getMinutes()+"0");
    $('#core-time-content').append("<span style='margin-right:20px; font-size:20px; color: #8899a6; font-weight: bold;'>"+text1+" - "+text2+"</span>");
  }
  $('#header-time').show();
}

  if(<%= @theme.check_phase(current_user) %>){
    wn = '.wd' + <%= @tree_type %>;
    var mW = $(wn).find('.modalBody').innerWidth() / 2;
    var mH = $(wn).find('.modalBody').innerHeight() / 2;
    $(wn).find('.modalBody').css({'margin-left':-mW,'margin-top':-mH});
    $(wn).fadeIn(500);
  }

  $('.close,.modalBK').click(function(){
    $(wn).fadeOut(500);
  });

  // ツールチップ
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>

<script>
    modal.set();

</script>
