<div class="row">
  <div class="col-md-8">
    <div class="well">
      <%= render 'top_form' if user_signed_in? %>
    </div>
    <hr />

    <div class="well" id="tl-tool">
      <%= form_for @search_entry, :url => {controller: "themes", action: "search_entry", id: @theme.id}, html: {method: :get}, :remote => true do |f| %>
        <%= f.radio_button :order, 'time', {:checked => true} %> 新着
        <%= f.radio_button :order, 'popular' %> 人気

        <% @theme.issues.each do |issue| %>
          <%= f.check_box :issues, {multiple: true}, issue.id, nil %> <%= issue.name %>
        <% end %>
        <%= f.hidden_field :theme_id, { :value => @theme.id } %>

        <%= f.submit '検索' %>
      <% end %>
    </div>

    <div id="entry-tl">
      <% @entries.each_with_index do |entry, i| %>
        <div class="panel panel-default" id="entry-<%= entry.id %>">
          <div class="panel-body">
            <%= render 'entry', entry: entry %>
            <hr />
            <%= render 'reply_form', {entry: entry, i: i} if user_signed_in? %>
          </div>
        </div>
      <% end %>
    </div>
    <div id="next">  <%= link_to_next_page @entries, '次へ', :remote => true, :id => 'next_link'  %></div>
    <div id="icon-loading">
      <%= image_tag 'theme/icon-loading.gif' %>
    </div>
  </div>
  <div class="col-md-4">
    <%= render 'theme_info' %>
    <%= render 'activity' if user_signed_in? %>
    <%= render 'other_themes' %>
    <%= render 'users' %>
    <%= render 'tags' if user_signed_in? && !current_user.normal? %>
  </div>
</div>
