<%= render "themes/discussion_phase" %>
<%= render "themes/modal_phase" %>

<!-- タブの表示 -->
<ul class="nav nav-pills nav-collagree" role="tablist">

  <li class="active"><a>投資</a></li>

  <li class="tab-click"><%= link_to "議論", vote_entry_show_path(@theme.id) %></li>

</ul>
<br>
<!-- タブの表示 -->


<% if !(current_user.admin? || current_user.facilitator?) %>
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-header" style="background-color:#f39800;">
          <h4 class=""><span class="glyphicon glyphicon-usd" aria-hidden="true"></span> アイデアに投資してみよう！</h4>
        </div>
        <div class="panel-body">
          ここからは合意フェイズです。まずは、今までの議論の中で気に入ったアイデアに、投資をしてみましょう。<br>
 一人当たり1000Gまで投資することができるので、自由に振り分けてください。<br>
「投票する」ボタンを押すと、議論画面に移り、投資結果が表示されます。<br>
この結果を踏まえ、最終的な合意形成を行います。<br>
        </div>
      </div>

      <div class="tab-content" id="theme-show">
        <div class="tab-pane active" id="discussion">

          <div id="top-loading">
          </div>
          <div id="timeline">
          </div>

            <%= form_tag(vote_entry_create_path, method: "POST") do %>
              <%= hidden_field_tag :theme_id, @theme.id %>
              <%= submit_tag "投票する",class: "vote-submit-btn pege-load-click vote-btn-main",id: "vote-btn-main",style: "display:none" %>
              <div class="vote-submit-btn vote-btn-sub">投票する</div><br>

            	<% @theme.vote_entries_disp.each do |vote, idx| %>
                <div class="row">
                  <div class="col-xs-10">
              	    <%= render "panel_new" , entry: vote.entry %>
                  </div>
                  <div class="col-xs-2">
                    <%= select_tag "note[#{vote.entry.id}]", options_for_select({"0G" => "0","100G" => "100", "200G" => "200", "300G" => "300", "400G" => "400", "500G" => "500", "600G" => "600", "700G" => "700", "800G" => "800", "900G" => "900", "1000G" => "1000"}), class: "vote_form" %>
                  </div>
                </div>
            	<% end %>

              <%= submit_tag "投票する",class: "vote-submit-btn pege-load-click vote-btn-main",id: "vote-btn-main",style: "display:none" %>
              <div class="vote-submit-btn vote-btn-sub">投票する</div><br>

            <% end %>
        </div>
      </div>

    </div>

    <div class="col-md-4">
      <%= render 'like_ranking', users: @users, theme: @theme %>
      <%= render 'theme_info' %>
      <%= render 'point', user: current_user, theme: @theme, point_list: @point_list if user_signed_in? %>
      <%= render 'user_ranking', users: @users, theme: @theme %>
      <%= render 'keywords' %>
    </div>

  </div>
<!-- ファシリテータの専用 -->
<% else %>
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div class="panel panel-default">
        <div class="panel-header">
          <h4 class=""><span class="glyphicon glyphicon-usd" aria-hidden="true"></span> 投資するアイディアを選択しよう！！</h4>
        </div>
        <div class="panel-body">
          <p>参加者が投資する意見の対象を選択してください</p>
          <p>ファシリテータが選択した意見をもとに投資が行われます。</p>
          <p>いいねの数によって投資対象として良いと思われる意見は自動でチェックされています。ファシリテータがチェックを外すこともできます。</p>
        </div>
      </div>

      <div class="tab-content" id="theme-show">
        <div class="tab-pane active" id="discussion">

          <div id="timeline">
            <%= form_tag(vote_entry_check_path, method: "POST") do %>
              <%= hidden_field_tag :theme_id, @theme.id %>

              <% before_num = 0 %>
              <% @vote_phase = true %>

              <% @theme.like_ranking_check.each_with_index do |entry, idx| %>
                <!-- ファリテータに任せる -->
                <% if idx > 6  && before_num != entry.like_count %> 
                  <div class="row">
                    <div class="col-xs-10">
                      <%= render "panel_new" , entry: entry%>
                    </div>
                    <div class="col-xs-2">
                      <%= check_box_tag "entry[#{entry.id}]" ,false, false, class: "vote_check" %>
                    </div>
                  </div>

                <!-- 候補としてチェックしておく -->
                <% else %>
                  <% before_num = entry.like_count  %>

                  <div class="row">
                    <div class="col-xs-10">
                      <%= render "panel_new" , entry: entry%>
                    </div>
                    <div class="col-xs-2">
                      <%= check_box_tag "entry[#{entry.id}]" ,true, true, class: "vote_check" %>
                    </div>
                  </div>
                <% end %>
              <% end %>

              <%= submit_tag "確定する",class: "vote-submit-btn" %>

            <% end %>
          </div>
        </div>
      </div>

    </div>
  </div>
<% end %>



<%= javascript_include_tag 'pnotify.custom.min.js', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'theme_custom.js', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag 'mobile.css' if smartphone? %>


<script>

  $(".vote-btn-sub").click(function(){
    alert("合計を1000にしてください")
  });

  var select_sum = 0
  // セレクターの変更があったとき
  $(".vote_form").change(function(){
    select_sum = 0
    // すべてのセレクターの数値の合計を計算する
    $('.vote_form option:selected').map(function(){
      select_sum = select_sum + Number($(this).val())
    });

    //１０００以上になったらsubmitボタンを使えるようにする
    if(select_sum > 999){
      $(".vote-btn-sub").hide();
      $(".vote-btn-main").show();
    }else{
      $(".vote-btn-main").hide();
      $(".vote-btn-sub").show();
    }

    // セレクターの選択できる値を変更する
    $('.vote_form').map(function(){
      // まだ変更してないセレクターの選択できる値を変更する
      if($(this).val()=="0"){
        $(this).children().remove();
        for (var count = 1000; count > -1 ;count=count-100){
          if((count + select_sum) < 1001){
            $(this).prepend("<option value="+count+">"+count+"G</option>")
          }
        }
        $(this).val("0");
      }else{
        //すでに選択されているセレクターの選択できる値を変更する
        value = $(this).val()
        $(this).children().remove();
        for (var count = 1000; count > -1 ;count=count-100){
          if((count + select_sum - value) < 1001){
            $(this).prepend("<option value="+count+">"+count+"G</option>")
          }
        }
        $(this).val(value);
      }
    });

  });

  $("#vote-submit-btn").click(function(){
    select_sum = 0
    // すべてのセレクターの数値の合計を計算する
    $('.vote_form option:selected').map(function(){
      select_sum = select_sum + Number($(this).text())
    });
    if(select_sum <1000){
      console.log("stop")
      $("#vote-submit-btn").unbind();
    }
  })


  if(<%= @theme.check_phase(current_user) %>){
    wn = '.wd3';
    var mW = $(wn).find('.modalBody').innerWidth() / 2;
    var mH = $(wn).find('.modalBody').innerHeight() / 2;
    $(wn).find('.modalBody').css({'margin-left':-mW,'margin-top':-mH});
    $(wn).fadeIn(500);
  }

  $('.close,.modalBK').click(function(){
    $(wn).fadeOut(500);
  });

</script>