<div class="child-content ">
  <div id="entry-<%= child.id %>" class="child post-content" data-id="<%= child.id %>">
    <%= render 'themes/user_icon', entry: child %>


    <div id="childID_<%= child.id %>"　class="<%= 'facilitation-back' if child.facilitation? %>" style="margin-left:10px;"　>

      <div class="entry-body">
        <div class="entry-table">
          <% if child.image? || child.stamp? %>
            <div class="entry-left">
              <% if child.image? %>
                <%= link_to (image_tag child.image.entry_thumb.url, class: 'img-radius'), child.image_url %>
              <% end %>
              <% if child.stamp? %>
                <%= image_tag(child.stamp, class: 'show-stamp')%>
              <% end %>
            </div>
          <% end %>
          <div class="entry-right">
            <%= simple_format(auto_link(child.body, html: { target: '_blank' }, link: :urls)) %> 
          </div>
        </div>
      </div>

      <%= render 'information', entry: child %>

    </div>
  </div>
</div>

<style>
  .user-entries-show{
    margin-top: 20px;
  }
  .info-list {
      color: #8899a6;
      padding-top: 3px;
  }

  .child {
      margin-top: 10px;
  }

  .child-content .thumb-box {
      float: left;
      margin-left: -47px;
      margin-top: 43px;
  }
</style>