<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title"><%= t('users.unlocks.search') %></div>
  </div>
  <div class="panel-body">
    <%= search_form_for(@q, method: :get) do |f| %>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <%= f.label :name_eq %>
            <%= f.text_field :name_eq, class: "form-control", placeholder: t('users.unlocks.match_all') %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <%= f.label :name_cont %>
            <%= f.text_field :name_cont, class: "form-control", placeholder: t('users.unlocks.match_partial') %>
          </div>
        </div>
      </div>
      <%= f.submit t('users.unlocks.search'), class: "btn btn-primary" %>
      <%= link_to t('users.unlocks.clear'), url_for, class: "btn btn-default" %>
    <% end %>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>check_box</th>
      <th>image</th>
      <th>name</th>
      <th>role</th>
    </tr>
  </thead>

  <tbody>
    <%= form_for @user, :url => {:action => 'update'} do |f| %>
      <% @users.each do |user| %>
        <tr>
          <td>
          <%= check_box_tag 'users[' + user.id.to_s + '][check]', true, false, {} %>
        </td>
        <td>
          <%= image_tag user_icon_path(user), class: 'user-icon img-circle' %>
        </td>
        <td>
          <%= user.name %>
        </td>
        <td>
          <%= select_tag 'users[' + user.id.to_s + '][role]', options_for_select(User.roles, :selected => user[:role]) %>
        </td>
      </tr>
    <% end %>
    <%= f.submit %>
  <% end %>
  </tbody>
</table>

<hr>

<h3>Theme Edit</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Body</th>
      <th>State</th>
      <th>Change</th>
    </tr>
  </thead>

  <tbody>
    <% @themes.each do |theme| %>
      <tr>
        <td><%= theme.id %></td>
        <td><%= theme.title %></td>
        <td><%= theme.body %></td>
        <td><%= secret = theme.secret ? "非公開中" : "公開中" %></td>
        <% if theme.secret %>
          <td><%= link_to "公開にする",themes_change_secret_path(theme.id), :method => :post,class: "btn" %></td>
        <% else %>
          <td><%= link_to "非公開にする",themes_change_secret_path(theme.id), :method => :post,class: "btn" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
