<!-- <div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">検索</div>
  </div>
  <div class="panel-body">
    <%= search_form_for(@q, method: :get) do |f| %>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <%= f.label :name_eq %>
            <%= f.text_field :name_eq, class: "form-control", placeholder: "完全一致" %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <%= f.label :name_cont %>
            <%= f.text_field :name_cont, class: "form-control", placeholder: "部分一致" %>
          </div>
        </div>
      </div>
      <%= f.submit '検索', class: "btn btn-primary" %>
      <%= link_to 'クリア', url_for, class: "btn btn-default" %>
    <% end %>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>check_box</th>
      <th>image</th>
      <th>name</th>
      <th>role</th>
    </tr>
  </thead>

  <tbody>
    <%= form_for @user, :url => {:action => 'update'} do |f| %>
      <% @users.each do |user| %>
        <tr>
          <td>
          <%= check_box_tag 'users[' + user.id.to_s + '][check]', true, false, {} %>
        </td>
        <td>
          <%= image_tag user_icon_path(user), class: 'user-icon img-circle' %>
        </td>
        <td>
          <%= user.name %>
        </td>
        <td>
          <%= select_tag 'users[' + user.id.to_s + '][role]', options_for_select(User.roles, :selected => user[:role]) %>
        </td>
      </tr>
    <% end %>
    <%= f.submit %>
  <% end %>
  </tbody>
</table> -->

<h3>Theme Edit</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Body</th>
      <th>start</th>
      <th>end</th>
      <th>State</th>
      <th>group</th>
      <th>Edit</th>
      <th>DELETE</th>
    </tr>
  </thead>

  <tbody>
    <% @themes.each do |theme| %>
      <tr>
        <td><%= theme.id %></td>
        <td><%= theme.title %></td>
        <td><%= theme.body %></td>
        <td><%= theme.start_at %></td>
        <td><%= theme.end_at %></td>
        <td><%= secret = theme.secret ? "非公開中" : "公開中" %></td>
        <td><%= theme.group_id %></td>
        <td><%= link_to "編集する",edit_theme_path(theme.id),class: "btn" %></td>
        <td><%= link_to "消去する",theme_path(theme.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'テーマ追加', new_theme_path ,class: "btn btn-default" %>

<hr>

<h3>Core Time</h3>

<%= render 'core_times/index' %>

<hr>

<h3>User All</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>icon</th>
      <th>email</th>
      <th>本名</th>
      <th>ユーザ名</th>
      <th>gender</th>
      <th>age</th>
      <th>home</th>
      <th>team</th>
      <th>職業</th>
      <td>ひとこと</td>
      <td>Last Login</td>
    </tr>
  </thead>

  <tbody>
    <% @users_all.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= image_tag user_icon_path(user) %></td>
        <td><%= user.email %></td>
        <td><%= user.realname %></td>
        <td><%= user.name %></td>
        <td><%= user.gender %></td>
        <td><%= user.age %></td>
        <td><%= user.home %></td>
        <td><%= user.group %></td>
        <td><%= user.move %></td>
        <td><%= user.body %></td>
        <td><%= user.current_sign_in_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- <div class="panel panel-default">
  <div class="panel-header">
    <h4 class=""><span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span> News from the facilitator / ファシリテータからのお知らせ</h4>
  </div>
  <div class="panel-body">
    <div class="facilitation_infomations">
      <div class="f_image">
        <%= image_tag 'faci_icon.png' %>
      </div>
      <div class="f_comment">
        <%= simple_format(@f_comment) %>
      </div>
      <div class="f_comment_btn">
      <br>
        <% if user_admin?(current_user) %>
          <%= link_to 'コメント更新', new_facilitation_infomation_path(theme_id: params[:id]) ,class: 'btn btn-default' %>
        <% end %>
      </div>
    </div>
  </div>
</div> -->
