<%= form_for(@facilitation_infomation) do |f| %>
  <% if @facilitation_infomation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@facilitation_infomation.errors.count, "error") %> prohibited this facilitation_infomation from being saved:</h2>

      <ul>
      <% @facilitation_infomation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    コメント<br>
    <%= f.text_area :body, :size => "70x5" %>
  </div>
  <div class="field">
    <%= hidden_field_tag "facilitation_infomation[theme_id]", params[:theme_id] %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
