<%= render 'header' %>

<section class="padding bck">
  <div class="row margin-bottom">
    <div class="column_10 offset_1 text book">
      <h1 class="color theme bold text">議論の仕方、各種機能の説明</h1>
      <h3 class="margin-top">議論画面</h3>
      <p class="text book">
        本システムの議論画面です。左側には投稿フォームと投稿一覧があります。右側にはテーマの詳細、キーワード、アクティビティ、他のテーマの情報があります。<br />
        以下で順番に説明していきます。
      </p>
      <%= image_tag 'intro/intro_discuss.png' %>
    </div>
  </div>
</section>

<hr />

<section class="padding bck">
  <div class="row margin-bottom">
    <div class="column_10 offset_1 text book">
      <h3 class="">1. 投稿フォーム</h3>
      <p class="text book">
        投稿はこちらから行います。投稿したい内容、また参考になる画像などを入力し、投稿ボタンから投稿しましょう。
      </p>
      <%= image_tag 'intro/intro_form.png' %>
    </div>
  </div>
</section>

<hr />

<section class="padding bck">
  <div class="row margin-bottom">
    <div class="column_10 offset_1 text book">
      <h3 class="">2. 並び替え・絞り込み</h3>
      <p class="text book">
        投稿一覧を並び替え、絞り込みすることができます。<br />
        並び替えでは、新しい投稿を優先して見る「新着」と返信コメントを多く持っている「注目」の２つで並び替えができます。
        絞り込みでは、各投稿に付加された論点タグによって絞り込みができます。
      </p>
      <%= image_tag 'intro/intro_sort.png' %>
    </div>
  </div>
</section>

<hr />


<section class="padding bck">
  <div class="row margin-bottom">
    <div class="column_10 offset_1 text book">
      <h3 class="">3. 投稿一覧タイムライン</h3>
      <p class="text book">
        投稿と投稿に対する返信が並びます。こちらで議論が確認できます。
      </p>
      <%= image_tag 'intro/intro_tl.png' %>
    </div>
  </div>
</section>

<hr />

<section class="padding bck">
  <div class="row margin-bottom">
    <div class="column_10 offset_1 text book">
      <h3 class="">4. 返信フォーム</h3>
      <p class="text book">
        各投稿に返信を行うフォームです。通常の投稿フォームに加え、「賛成・反対自動判定機能」がついています。
        入力後には賛成・反対が正しいか確認してみましょう。
      </p>
      <%= image_tag 'intro/intro_reply.png' %>
    </div>
  </div>
</section>

<hr />

<section class="padding bck">
  <div class="row margin-bottom">
    <div class="column_10 offset_1 text book">
      <h3 class="">5. テーマ情報</h3>
      <p class="text book">
        議論を行っているテーマの情報と画像です。
      </p>
      <%= image_tag 'intro/intro_themeinfo.png' %>
    </div>
  </div>
</section>

<hr />

<section class="padding bck">
  <div class="row margin-bottom">
    <div class="column_10 offset_1 text book">
      <h3 class="">6. キーワード</h3>
      <p class="text book">
        議論全体の中で特に注目されていると考えられるキーワードを表示しています。議論内でどのようなことが話題なのか確認しましょう。
      </p>
      <%= image_tag 'intro/intro_keyword.png' %>
    </div>
  </div>
</section>

<hr />
<section class="padding bck">
  <div class="row margin-bottom">
    <div class="column_10 offset_1 text book">
      <h3 class="">7. あなたの活動</h3>
      <p class="text book">
        あなたの投稿、返信を記録しています。他ユーザーからのあなたへの返信も記録しています。<br />
        また、他ユーザーからの返信はメールでお知らせします。
      </p>
      <%= image_tag 'intro/intro_activity.png' %>
    </div>
  </div>
</section>
