<%= render 'header' %>

<section class="padding bck">
  <div class="row margin-bottom">
    <div class="column_10 offset_1 text book">
      <h1 class="color theme bold text margin-bottom">ファシリテーター支援機能の説明</h1>
      <h5 class="margin-top text bold">ファシリテーターのみなさま</h5>
      <p class="text book">
        この度はファシリテーターとしてのご参加ありがとうございます。COLLAGREEでは多人数での大規模合意形成を目指して、ファシリテーター支援機能を開発しています。みなさまのファシリテーションで円滑な議論を目指しましょう。
      </p>
      <h3 class="margin-top">ファシリテーターとしての投稿</h3>
      <p class="text book">
        ファシリテーターとして投稿すると以下のように、「ファシリテーター」として投稿が行われます。個人のアカウント名がWeb上に表示されることはありません。また、通常の投稿とは異なる背景色およびファシリテーターアイコンにより投稿が行われます。
      </p>
      <%= image_tag 'intro/intro_facistyle.png' %>
    </div>
  </div>
</section>

<hr />

<section class="padding bck">
  <div class="row margin-bottom">
    <div class="column_10 offset_1 text book">
      <h3 class="">ファシリテーションフォーム</h3>
      <p class="text book">
        ファシリテーターの方には通常の投稿の他にファシリテーションフォームが準備されています。フォームにあるファシリテーションタブを選択することで、ファシリテーションフォームが利用できます。<br />
        ファシリテーションフォームを使うことで、通常の投稿とは異なるファシリテーションとしての投稿を行うことができます。
      </p>
      <%= image_tag 'intro/intro_faci_form.png' %>
    </div>
  </div>
</section>

<hr />

<section class="padding bck">
  <div class="row margin-bottom">
    <div class="column_10 offset_1 text book">
      <h3 class="">ファシリテーションフレーズの利用</h3>
      <p class="text book">
        さまざまな場面を想定したファシリテーションフレーズが準備されています。それらフレーズを選択することで、簡単にファシリテーションを行うことができます。
      </p>
      <%= image_tag 'intro/intro_faci_wordm.png' %>
    </div>
  </div>
</section>

<hr />


<section class="padding bck">
  <div class="row margin-bottom">
    <div class="column_10 offset_1 text book">
      <h3 class="">キーワード</h3>
      <p class="text book">
        議論全体の中で特に注目されていると考えられるキーワードを表示しています。議論内でどのようなことが話題なのか確認しましょう。注目されているキーワードを参考にファシリテーションすることもできるでしょう。
      </p>
      <%= image_tag 'intro/intro_keyword.png' %>
    </div>
  </div>
</section>

<hr />

<section class="padding bck">
  <div class="row margin-bottom">
    <div class="column_10 offset_1 text book">
      <h3 class="">論点タグの追加</h3>
      <p class="text book">
        ファシリテーターは論点タグの追加を行うことができます。議論の流れやキーワードを確認しながら論点タグを追加しましょう。追加したタグは投稿フォームに表示され、投稿の絞り込みなどに利用されます。
      </p>
      <%= image_tag 'intro/intro_faci_tag.png' %>
    </div>
  </div>
</section>
