<h1>Listing facilitation_keywords</h1>

<table>
  <thead>
    <tr>
      <th>Theme</th>
      <th>Word</th>
      <th>Score</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @facilitation_keywords.each do |facilitation_keyword| %>
      <tr>
        <td><%= facilitation_keyword.theme_id %></td>
        <td><%= facilitation_keyword.word %></td>
        <td><%= facilitation_keyword.score %></td>
        <td><%= link_to 'Show', facilitation_keyword %></td>
        <td><%= link_to 'Edit', edit_facilitation_keyword_path(facilitation_keyword) %></td>
        <td><%= link_to 'Destroy', facilitation_keyword, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Facilitation keyword', new_facilitation_keyword_path %>
