<p id="notice"><%= notice %></p>

<p>
  <strong>Theme:</strong>
  <%= @facilitation_keyword.theme_id %>
</p>

<p>
  <strong>Word:</strong>
  <%= @facilitation_keyword.word %>
</p>

<p>
  <strong>Score:</strong>
  <%= @facilitation_keyword.score %>
</p>

<%= link_to 'Edit', edit_facilitation_keyword_path(@facilitation_keyword) %> |
<%= link_to 'Back', facilitation_keywords_path %>
