<%= form_for(@thread_class) do |f| %>
  <% if @thread_class.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@thread_class.errors.count, "error") %> prohibited this thread_class from being saved:</h2>

      <ul>
      <% @thread_class.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :parent_class %><br>
    <%= f.text_field :parent_class %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
