<nav class="navbar navbar-collagree" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>">
        <%= image_tag 'collagree_title.png' , class: 'collagree-title' %>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t('layouts.header.management'), homes_about_path %></li>
        <li><%= link_to t('layouts.header.operation'), '/collagree_ss/new_help.pdf' %></li>

        <% if user_signed_in? %>
          <li class='nav-user-icon'><%= image_tag user_icon_path(current_user), class: 'user-icon img-circle' %></li>
          <li><%= link_to t('layouts.header.greet',{name: current_user.name}), edit_user_registration_path %></li>
          <li><%= link_to t('layouts.header.administrator'), admin_root_path if current_user.admin? %></li>
          <li><%= link_to t('layouts.header.edit'), users_path if current_user.admin? || current_user.organizer? %></li>
          <li><%= link_to t('layouts.header.logout'), destroy_user_session_path, method: :delete  %></li>
        <% else %>
          <li><%= link_to t('layouts.header.signup'), new_user_registration_path %></li>
          <li><%= link_to t('layouts.header.login'), new_user_session_path %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div id="header-alert">
  <!-- <p>Likeポイント獲得！！</p> -->
  <div class="" id="point-alert">
    <p class="">10 point get!!</p>
  </div>
</div>
