<h2>アカウント情報編集</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email, 'メールアドレス' %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div>
    <%= f.label :name, 'ニックネーム' %><br />
    <%= f.text_field :name, autocomplete: "off" %>
  </div>

  <div>
    <%= f.label :realname, '氏名' %><br />
    <%= f.text_field :realname, autocomplete: "off" %>
  </div>

  <div>
    <%= f.label :gender, '性別' %><br />
    <%= f.text_field :gender, autocomplete: "off" %>
  </div>

  <div>
    <%= f.label :age, '年齢' %><br />
    <%= f.text_field :age, autocomplete: "off" %>
  </div>

  <div>
    <%= f.label :home, '住まい' %><br />
    <%= f.text_field :home, autocomplete: "off" %>
  </div>

  <div>
    <%= f.label :move, '通勤・通学' %><br />
    <%= f.text_field :move, autocomplete: "off" %>
  </div>

  <div>
    <%= f.label :remind, 'お知らせメール' %><br />
    <%= f.text_field :remind, autocomplete: "off" %>
  </div>

  <div>
    <%= f.label :mail_format, 'メール形式' %><br />
    <%= f.text_field :mail_format, autocomplete: "off" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div>
    <%= f.label :password, 'パスワード' %> <br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div>
    <%= f.label :password_confirmation, '確認'%><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div>
    <%= f.label :current_password, '現在のパスワード' %><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="form-group">
    <%= f.file_field :image %>
  </div>


  <div><%= f.submit "更新" %></div>
<% end %>

<!-- <h3>Cancel my account</h3> -->

<!-- <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p> -->

<%= link_to "Back", :back %>
