<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <h2>アカウント情報編集</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :email, 'メールアドレス：' %>
        <%= f.email_field :email, autofocus: true, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :name, 'ニックネーム：' %>
        <%= f.text_field :name, autocomplete: "off", class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :realname, '氏名：' %>
        <%= f.text_field :realname, autocomplete: "off", class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :gender, '性別：' %>
        <%= f.select :gender, User.genders.keys.to_a, {}, { class: "form-control" } %>
      </div>

      <div class="form-group">
        <%= f.label :age, '年齢：' %>
        <%= f.select :age, User.ages.keys.to_a, {}, { class: "form-control" } %>
      </div>

      <div class="form-group">
        <%= f.label :home, '住まい：' %>
        <%= f.select :home, User.homes.keys.to_a, {}, { class: "form-control" } %>
      </div>

      <div class="form-group">
        <%= f.label :move, '通勤・通学：' %>
        <%= f.select :move, User.moves.keys.to_a, {}, { class: "form-control" } %>
      </div>

      <div class="form-group">
        <%= f.label :remind, 'お知らせメール：' %>
        <%= f.select :remind, User.reminds.keys.to_a, {}, { class: "form-control" } %>
      </div>

      <!-- <div class="form-group"> -->
      <!--   <%= f.label :mail_format, 'メール形式：' %> -->
      <!--   <%= f.select :mail_format, User.mail_formats.keys.to_a, {}, { class: "form-control" } %> -->
      <!-- </div> -->

      <div class="form-group">
        <label for="user_image">アイコン：</label>
        <%= f.file_field :image %>
      </div>

      <div class="form-group">
        <label for="">パスワード <% if @validatable %>(<%= @minimum_password_length %> 文字以上)<% end %>：</label>
        <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
      </div>

      <div class="form-group">
        <label for="">パスワードの確認：</label>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %></div>

      <!-- <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %> -->
      <!--   <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div> -->
      <!-- <% end %> -->

      <div class="form-group">
        <%= f.label :current_password, '現在のパスワード：' %>
        <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
      </div>

      <div><%= f.submit "更新", class: 'btn btn-default login-btn' %></div>
    <% end %>

    <!-- <h3>Cancel my account</h3> -->

    <!-- <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p> -->

    <%#= link_to "Back", :back %>
  </div>
</div>
